<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DatabaseUrl" value="http://zen.mv.vic.gov.au:8080/" />
    <add key="DatabaseName" value="collectionsonline_dev" />
    <add key="EmuServerHost" value="chopin.mv.vic.gov.au" />
    <add key="EmuServerPort" value="40022" />
    <add key="SqlImportConnectionString" value="" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="DescribeMe.Web" />
    </extensions>
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} [${level}] - ${message}" fileName="${basedir}\logs\log.txt" archiveFileName="${basedir}\logs\log.{#}.txt" archiveAboveSize="1048576" archiveNumbering="Sequence" maxArchiveFiles="9" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} [${level}] - ${message}" useDefaultRowHighlightingRules="true" />
      <target name="mail" xsi:type="Mail" layout="${longdate} [${level}] - ${message}" html="true" subject="CollectionsOnline.Import Error" to="mmason@museum.vic.gov.au" from="webteam@museum.vic.gov.au" smtpServer="pop.mv.vic.gov.au" smtpPort="25" smtpAuthentication="none" />
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="file,console" />
      <logger name="CollectionsOnline.*" minlevel="Debug" writeTo="file,console" />
    </rules>
  </nlog>
</configuration>