<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="DatabaseUrl" value="" />
    <add key="DatabaseName" value="" />
    <add key="EmuServerHost" value="" />
    <add key="EmuServerPort" value="" />
    <add key="MediaPath" value="" />
    <add key="MediaServerUri" value="/content/media" />
    <add key="SqlImportConnectionString" value="" />
    <add key="OverwriteExistingMedia" value="false" />
    <add key="SkipExistingDocuments" value="false" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="file" xsi:type="File" archiveAboveSize="268435456" maxArchiveFiles="5" fileName="${basedir}\logs\${shortdate}.log" layout="${longdate} [${level}] - ${message}" />
      <target name="console" xsi:type="ColoredConsole" layout="${longdate} [${level}] - ${message}" useDefaultRowHighlightingRules="true" />      
    </targets>
    <rules>
      <logger name="*" minlevel="Error" writeTo="file,console" />
      <logger name="CollectionsOnline.*" minlevel="Trace" maxlevel="Warn" writeTo="file,console" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.10.0" newVersion="3.0.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>