@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius){
  -webkit-border-radius: $radius $radius 0 0;
     -moz-border-radius: $radius $radius 0 0;
      -ms-border-radius: $radius $radius 0 0;
          border-radius: $radius $radius 0 0;	
	
}

@mixin border-radius-bottom($radius)
{  -webkit-border-radius:  0 0 $radius $radius;
     -moz-border-radius: 0 0 $radius $radius;
      -ms-border-radius: 0 0 $radius $radius;
          border-radius: 0 0 $radius $radius;	

}

@mixin blur($pixels){
  filter: blur($pixels);
  -webkit-filter: blur($pixels);
  -moz-filter: blur($pixels);
}

@mixin icon-article {
    font-family: "mv-collections";
    content: "\e606";
}

@mixin icon-item {
    font-family: "mv-collections";
    content: "\e610";
}

@mixin icon-spaced-item {
    font-family: "mv-collections";
    content: "\e610 ";
}

@mixin icon-species {
    font-family: "mv-collections";
    content: "\e617";
}

@mixin icon-specimen {
    font-family: "mv-collections";
    content: "\e618";
}

@mixin icon-search-header {
    font-family: "mv-collections";
    content: "\e602";
}

@mixin display-flex(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-direction($direction){
	-ms-flex-direction: $direction;
    -webkit-flex-direction: $direction; /* Safari 6.1+ */
    flex-direction: $direction; 
    
}

@mixin justify-content($position){
    -webkit-justify-content:$position;
    justify-content:$position;
}

@mixin flex-flow-row-nowrap(){
    -ms-flex-wrap:none;
    -ms-flex-direction:row;
    flex-flow: row nowrap;
   
}


@mixin align-items-flex-end(){
	 -ms-flex-align: end;
     -webkit-align-items: flex-end;
	 align-items: flex-end;
}

@mixin alignitem-center(){
	-ms-flex-align: center;
	-webkit-align-items: center;
    align-items: center;
}

@mixin flex($value){
    -ms-flex:$value;
    -webkit-flex:$value;
    flex:$value;
}