@font-face {
    font-family: 'mv-collections';
    src:url('/content/fonts/mv-collections.eot');
    src:url('/content/fonts/mv-collections.eot?#iefix') format('embedded-opentype'), 
        url('/content/fonts/mv-collections.woff') format('woff'), 
        url('/content/fonts/mv-collections.ttf') format('truetype'), 
        url('/content/fonts/mv-collections.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo';
    src:url('/content/fonts/entypo.eot');
    src:url('/content/fonts/entypo.eot?#iefix') format('embedded-opentype'), 
        url('/content/fonts/entypo.woff') format('woff'), 
        url('/content/fonts/entypo.ttf') format('truetype'), 
        url('/content/fonts/entypo.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo-social';
    src:url('/content/fonts/entypo-social.eot');
    src:url('/content/fonts/entypo-social.eot?#iefix') format('embedded-opentype'), 
        url('/content/fonts/entypo-social.woff') format('woff'), 
        url('/content/fonts/entypo-social.ttf') format('truetype'), 
        url('/content/fonts/entypo-social.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-close:before {
    font-family:$font-family-mv-collections;
    content:"\e601";
}

.icon-search-header:before {
    font-family:$font-family-mv-collections;
    content:"\e602";
    font-size:1.5em;
    position:absolute;
    right:20px;
}

.icon-left-arrow:before {
    font-family:$font-family-mv-collections;
    content:"\e607";
}

.icon-right-arrow:before {
    font-family:$font-family-mv-collections;
    content:"\e60a";
}

.icon-search:before {
    font-family:$font-family-mv-collections;
    content:"\e60b";
    font-size:1.5em;
}

.icon-filter:before {
    font-family:$font-family-mv-collections;
    content:"\e602";
    font-size:1.3em;
    position:absolute;
    left:190px;
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-download:before {
    font-family:$font-family-mv-collections;
    content:"\e603";
    font-size:1.5em;
}

.icon-fullscreen:before {
    font-family:$font-family-mv-collections;
    content:"\e604";
    font-size:1.5em;
}

.icon-article:before {
    font-family:$font-family-mv-collections;
    content:"\e600";
}
.icon-item:before {
    font-family:$font-family-mv-collections;
    content:"\e606";
}
.icon-species:before {
    font-family:$font-family-mv-collections;
    content:"\e60c";
}
.icon-specimen:before {
    font-family:$font-family-mv-collections;
    content:"\e60d";
}

.icon-print:before {
    font-family:$font-family-entypo;
    content:"\E716";
    font-size:3em;
    line-height:0.2em;
    position:absolute;
    top:0.2em;
    right:20px;
}

.icon-facebook:before {
    font-family:$font-family-entypo-social;
    content:"\F30C";
    font-size:3em;
    line-height:0.5em;
}

.icon-twitter:before {
    font-family:$font-family-entypo-social;
    content:"\F309";
    font-size:3em;
    line-height:0.5em;
}

.icon-pintrest:before {
    font-family:$font-family-entypo-social;
    content:"\F312";
    font-size:3em;
    line-height:0.5em;
}

.icon-cc-by:before {
    font-family:$font-family-entypo;
    content:"\1F545";
    font-size:3em;
    vertical-align:-0.16em;
    line-height:0;    
}

.icon-list:before {
    font-family: "mv-collections";
    content: "\e611"; 
}
.icon-grid:before {
    font-family: "mv-collections";
    content: "\e60d"; 
} 