@font-face {
    font-family: 'mv-collections';
    src:url("../fonts/mv-collections.eot?v=248");
    src:url("../fonts/mv-collections.eot?#iefix&?v=248") format("embedded-opentype"), 
        url("../fonts/mv-collections.woff?v=248") format("woff"), 
        url("../fonts/mv-collections.ttf?v=248") format("truetype"), 
        url("../fonts/mv-collections.svg?v=248") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon-close:before {
    font-family: "mv-collections";
    content: "\e609";
}

.icon-close2:before {
    font-family: "mv-collections";
    content: "\e60a";
}

.icon-search-header:before {
    font-family: "mv-collections";
    content: "\e601";
    font-size: 1.5em;
    position: absolute;
    right: 20px;
}

.icon-search-close:before {
    font-family: "mv-collections";
    content: "\e609";
    font-size: 1.5em;
    position: absolute;
    right: 20px;
}

.icon-down-arrow:before {
    font-family: "mv-collections";
    content: "\e600";
}

.icon-down-arrow2:before {
    font-family: "mv-collections";
    content: "\e601";
}

.icon-left-arrow:before {
    font-family: "mv-collections";
    content: "\e602";
}

.icon-right-arrow:before {
    font-family: "mv-collections";
    content: "\e603";
}

.icon-right-arrow2:before {
    font-family: "mv-collections";
    content: "\e604";
}

.icon-right-arrow3:before {
    font-family: "mv-collections";
    content: "\e605";
}

.icon-search:before {
    font-family: "mv-collections";
    content: "\e616";
    font-size: 1.5em;
}

.icon-filter:before {
    font-family: "mv-collections";
    content: "\e601";
    font-size: 1.5em;
    float:right;
}

.icon-filter-close:before {
    font-family: "mv-collections";
    content: "\e609";
    font-size: 1.5em;
    float:right;
    @include gridle_state("tablet"){
        content:"\e601";//tablet use of .disabled reversed
    }
    @include gridle_state("mobile"){
        content:"\e601";//mobile use of .disabled reversed
    }
    .disabled &{
        content:"\e601";
       @include gridle_state("tablet"){
        content:"\e609"; //tablet use of .disabled reversed
            }
        @include gridle_state("mobile"){
            content:"\e609"; //mobile use of .disabled reversed
        }
    }
}


.icon-download:before {
    font-family: "mv-collections";
    content: "\e60b";
    font-size: 1.5em;
}
.icon-downloadlink:after{
    font-family: "mv-collections";
    content: "\e60b";
    font-size: 1em;
    padding-left:5px;
}
.icon-externallink:after{
    font-family: "mv-collections";
    content: "\e605";
    font-size: 0.8em;
    padding-left:5px;
}
.icon-after:before {
    font-family: "mv-collections";
    content: "\e60b";
    font-size: 1.5em;
}
.icon-expand:before {
    font-family: "mv-collections";
    content: "\e60c";
    font-size: 1.5em;
}

.icon-contract:before {
    font-family: "mv-collections";
    content: "\e608";
    font-size: 1.5em;
}

.icon-article:before {
    font-family: "mv-collections";
    content: "\e606";
}

.icon-item:before {
    font-family: "mv-collections";
    content: "\e610";
}

.icon-species:before {
    font-family: "mv-collections";
    content: "\e617";
}

.icon-specimen:before {
    font-family: "mv-collections";
    content: "\e618";
}

.icon-audio:before {
    font-family: "mv-collections";
    content: "\e607";
}

.icon-contract:before {
    font-family: "mv-collections";
    content: "\e608";
    font-size: 1.5em;
}

.icon-grid:before {
    font-family: "mv-collections";
    content: "\e60d";
}

.icon-home:before {
    font-family: "mv-collections";
    content: "\e60e";
}

.icon-image:before {
    font-family: "mv-collections";
    content: "\e60f";
}

.icon-list:before {
    font-family: "mv-collections";
    content: "\e611";
}
.icon-data:before {
  font-family: "mv-collections";
  content: "\e613"; 
}

.icon-marker:before {
    font-family: "mv-collections";
    content: "\e612";
}

.icon-menu:before {
    font-family: "mv-collections";
    content: "\e613";
}

.icon-minus:before {
    font-family: "mv-collections";
    content: "\e614";
}

.icon-plus:before {
    font-family: "mv-collections";
    content: "\e615";
}

.icon-tick:before {
    font-family: "mv-collections";
    content: "\e619";
}

.icon-video:before {
    font-family: "mv-collections";
    content: "\e61a";
}

.icon-book:before {
    font-family: "mv-collections";
    content: "\e61b";
}

.icon-search-add-plus:before {
    font-family: "mv-collections";
    content: "\e621";
    font-size: 1.7em;
}

.icon-search-add-search:before {
    font-family: "mv-collections";
    content: "\e902";
    font-size: 1.7em;
}

.icon-facebook:before {
    font-family: "mv-collections";
    content: "\e61e";
    line-height: 1em;
    font-size: 1.7em;
}

.icon-twitter:before {
    font-family: "mv-collections";
    content: "\e620";
    line-height: 1em;
    font-size: 1.7em;
}

.icon-pintrest:before {
    font-family: "mv-collections";
    content: "\e61f";
    line-height: 1em;
    font-size: 1.7em;
}

.icon-cc:before {
    font-family: "mv-collections";
    content: "\e61d";
    font-size: 1.7em;
    vertical-align: -0.3em;
    line-height: 0;
}

.icon-by:before {
    font-family: "mv-collections";
    content: "\e61c";
    font-size: 1.7em;
    vertical-align: -0.3em;
    line-height: 0;
}

.icon-zero:before {
    font-family: "mv-collections";
    content: "\e624";
    font-size: 1.7em;
    vertical-align: -0.3em;
    line-height: 0;
}

.icon-reuse:before {
    font-family: "mv-collections";
    content: "\e900";
    font-size: 1.5em;
}

.icon-request:before {
    font-family: "mv-collections";
    content: "\e901";
    font-size: 1.5em;
}

/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   { 
	line-height: 1.2;
	.container &{
	@include gridle (12);
	direction: ltr;
	}
}

h2, .beta    { 
	line-height: 1.2;
	.container &{
	@include gridle (12);
	direction: ltr;
	}
}

h3, .gamma   { 
	line-height: 1.2;
}

h4, .delta   {
	
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}