$font-family: "aktiv-grotesk-std",sans-serif;
$font-family-mv-collections: "mv-collections";
$font-family-entypo: "entypo";
$font-family-entypo-social: "entypo-social";

$color-museum-green: #82aa05;
$color-default: #fff;
$color-sub-heading: #6D6D6D;
$color-links: #b0b0b0;

$color-article: rgb(81, 127, 150);
$color-article-alpha: rgba(81, 127, 150, 0.8);
$color-item: rgb(242, 105, 53);
$color-item-alpha: rgba(242, 105, 53, 0.8);
$color-species: rgb(222, 174, 14);
$color-species-alpha: rgba(222, 174, 14, 0.8);
$color-specimen: rgb(126, 121, 137);
$color-specimen-alpha: rgba(126, 121, 137, 0.8);

//PatternLab Variables 
//Proper Collections Online Variables
$colour-primary-green : #6a8818;
$colour-highlight-green : #94AF19;
$colour-background-dark : #262626;
$colour-background-midlight: #d8d8d8;
$colour-background-light : #e8e8e8;
$colour-background-black : #000000;
$colour-background-mid : #565656;
$colour-heading : #000000;
$colour-bodytext : #454545;
$colour-heading-inverted : #f5f5f5;
$colour-bodytext-inverted : #a1a1a1;
$colour-articles :#517f96;
$colour-items : #f26935;
$colour-species :#deae0e;
$colour-specimens : #7e7989;

//tiles
$colour-background-image: #ffffff;
$colour-background-title: #f2f2f2;

//padding
$padding-side:3%;