$font-family: "aktiv-grotesk-std",sans-serif;
$font-family-entypo: "entypo";
$font-family-entypo-social: "entypo-social";

$color-museum-green: #B7D71F;
$color-default: #fff;
$color-sub-heading: #6D6D6D;
$color-links: #b0b0b0;