$font-family: "aktiv-grotesk-std",sans-serif;
$font-family-mv-collections: "mv-collections";
$font-family-entypo: "entypo";
$font-family-entypo-social: "entypo-social";

$color-museum-green: #82aa05;
$color-default: #fff;
$color-sub-heading: #6D6D6D;
$color-links: #b0b0b0;

$color-article: rgb(81, 127, 150);
$color-article-alpha: rgba(81, 127, 150, 0.8);
$color-item: rgb(242, 105, 53);
$color-item-alpha: rgba(242, 105, 53, 0.8);
$color-species: rgb(222, 174, 14);
$color-species-alpha: rgba(222, 174, 14, 0.8);
$color-specimen: rgb(126, 121, 137);
$color-specimen-alpha: rgba(126, 121, 137, 0.8);