@import "normalize";
@import 'variables';
@import 'mixins';
@import 'grid';
@import "typography";
@import "layout";

body {
    background: $colour-background-light;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}

a {
    color: $color-links;
    text-decoration:none;
}

header {
    background:#1b1b1b;
    height:76px;    
}

.brand {
    display:inline-block;
    padding:0 20px;
    color: $color-default;
    font-size:1.35em;
    line-height:76px;
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;

    span {
        color:$color-museum-green;
        font-weight:600;
    }
}

nav {
    color:$color-default;
    font-size:1em;    
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;
    float:right;
    position:relative;

    a {
        display:inline-block;
        padding:0 20px;
        line-height:76px;

        &:hover {
            background:#000;
            color:$color-default;
        }
    }

    .button-search {
        background-color:$color-museum-green;
        color:$color-default;
        padding-right:60px;

        &:hover {
        background-color:$color-museum-green;
        color:$color-default;
        }
    }
}

button.icon {
    background:none;
    border:0;
    margin:0;
    padding:0;
}

.icon-label-hidden {
    clip:rect(0 0 0 0);
    overflow:hidden;
    position:absolute;
    height:1px;
    width:1px;
}

.form-search {
    float:left;
    background-color:$color-museum-green;
    height:76px;

    input {
        background-color:$color-museum-green;
        color:$color-default;
        box-sizing:border-box;
        border:0;
        padding:0 20px 0 50px;
        width:170px;
        line-height:76px;
        font-size:1.35em;

        &::-webkit-input-placeholder {
            opacity:1;
            color:$color-default;
        }
        &::-moz-placeholder {
            opacity:1;
            color:$color-default;
        }
        &:-ms-input-placeholder {
            opacity:1;
            color:$color-default;
        }
        &:-moz-placeholder {
            opacity:1;
            color:$color-default;
        }
    }

}

.wrapper {
    @include gridle_container ();
    max-width:1040px;
    margin:0 auto;
}

#title {
    background-color:#323232;    

    h1 {
        @include gridle (8);
        margin:1em 0;
        font-size:2em;
        font-weight:400;
        color:$color-default;        
    }

    .thumbnails {
        @include gridle (4);
        margin:2em 0 1.8em 0;
        @include gridle_no_gutter(left);

        .thumbnail {
            @include gridle (3);
            @include gridle_no_gutter();
            padding:0 0 7px 7px;
            cursor:pointer;

            img {
                width:100%;
                display:block;                                              
            }

            img.active {
                border:2px solid $color-museum-green;
                box-sizing:border-box;
            } 
        }

    }
}

#media {
    background-color:#b8b8b8;
    
    img {
        max-width:100%;
        max-height:700px;
        display:block;
        margin:0 auto;
    }

    figcaption {
        background-color:#000;
        color:$color-default;

        .caption {
            @include gridle (10);
            margin:1em 0;

            span {
                display:block;
            }
        }

        .media-tools {
            @include gridle (2);
            margin:1em 0;
            display:flex;
            justify-content:flex-end;

            button {
                color:#4c4c4c;
                width:50px;
                height:50px;
                border:2px solid #4c4c4c;
                border-radius:2px;
                margin:0 0 0 10px;
                box-sizing:border-box;

                &:hover {
                    color:$color-default;
                    border-color:$color-default;
                }
            }
        }
    }
}

#record {    
    font-weight:300;
    background-color:#f0f0f0;

    .text-content {
        @include gridle (8);
        
        .summary {
            margin:5em 0 2em;
            line-height:1.8em;                
            font-size:1.1em;

            h3 {
                color:#424242;
                font-size:1.6em;
                font-weight:400;
                margin:1em 0 0.5em;
            }           
        }

        .summary a, .detail a {
            color:#488DD9;            
            border-bottom:2px solid rgba(72, 141, 217, 0.5);

            &:hover {
                border-bottom-color:#488DD9;
            }
        }

        .detail {
            ul {
                margin:0;
                padding:0;
                list-style:none;
            }

            li {
                clear:both;
            }

            h3 {
                @include gridle (3);
                @include gridle_no_gutter(left);
                font-weight:300;
                font-size:1.1em;
                color:$color-sub-heading;
                line-height:1.6em;
                margin:0.6em 0;
            }

            p {
                @include gridle (9);
                @include gridle_no_gutter(right);
                line-height:1.6em;
                font-size:1.1em;
                margin:0.6em 0;
            }          
        }

        
    }

    .side-content {
        @include gridle (4);
        font-weight:500;
        font-size:1.1em;
        color:$color-default;
        margin:5em 0 0;
        
        .on-display {
            background: linear-gradient(60deg, #a82912 0%,#a82912 20%,#5f0800 21%,#000000 21%,#000000 51%,#490200 52%,#490200 56%,#000000 57%,#000000 62%,#5f0800 63%,#5f0800 67%,#711300 68%,#711300 98%,#b44b14 99%);
            margin:0 0 20px;
            border-radius:3px;
            padding:20px;
            line-height:1.7em;

            a {
                color:$color-default;
                border-bottom:2px solid rgba(255, 255, 255, 0.50);
                font-weight:400;

                &:hover {
                    border-bottom-color:#fff;
                }
            }
        }

        .print {
            border-radius:3px;
            background:#000;
            color:$color-default;
            margin-bottom:3px;
            height:3em;

            .icon {
                color:$color-default;
                border:none;
                line-height:3em;
                position:relative;
                display:inline-block;
                box-sizing:border-box;
                width:100%;
                padding:0;

                .icon-label {
                    padding-left:20px;
                }
            }
        }

        .social {
            border-radius:3px;
            background:#000;
            color:$color-default;
            height:3em;

            h4 {
                display:inline-block;
                margin:0;
                padding:0 0 0 20px;
                line-height:3em;
            }

            .social-tools {
                display:flex;
                justify-content:flex-end;
                float:right;

                .icon {
                    color:$color-default;
                    border:none;
                    border-left:1px solid $color-default;
                    display:inline-block;
                    height:3em;
                    line-height:3em;
                    box-sizing:border-box;
                    width:3em;
                    text-align:center;
                    margin:0;
                }
            }
            
        }
    }    
}

.cite-content {
        @include gridle (12);
        margin:4em 0;
        
        .cite {
            padding:2em;
            background-color:$color-default;
            border-radius:3px;

            h4 {
                color:$color-sub-heading;
                font-weight:400;
                font-size:1.6em;
                margin:0.6em 0;
            }

            p {
                font-size:1.1em;
                margin:0.9em 0;
            }

            .icon {
                color:$color-sub-heading;
            }

            strong {
                color:$color-sub-heading;
                font-weight:500;
            }
        }
}

#related {
    .related-content {
        margin:4em 0 2em;
        @include gridle_parent();

        h3 {
            @include gridle (12);
            color:#424242;
            font-size:1.6em;
            font-weight:400;
        }
        /* Commented out -
        .item, .specimen, .article, .species {
            @include gridle (3);
            padding-top:10px;
            padding-bottom:10px;
                
            a {
                border:1px solid #dcdcdc;
                display:block;
                position:relative;

                &:before {
                    border-bottom-left-radius:3px;
                    padding:10px;
                    color:$color-default;
                    text-transform:uppercase;
                    position:absolute;
                    font-size:0.9em;
                    font-weight:500;
                    top:0;
                    right:0;
                }
            }        

            img {
                width:100%;
                display:block;
            }

            .title {
                display:block;
                height:6em;
                overflow:hidden;
                text-overflow:ellipsis;
                background-color:#f9f9f9;
                color:#000;
                font-weight:500;
                padding:10px;
            }
        }*/

        .item {
            .icon-item {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-item;
            }
        }

        .article {
            .icon-article {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-article;
            }
        }

        .specimen {
            .icon-specimen {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-specimen;
            }
        }

        .species {
            .icon-species {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-species;
            }
        }

        .no-image-label {
            padding-top:4em;
        }
    }

    .related-link {
        text-align:center;
        margin:0 0 4em 0;
        font-size:1.2em;
        font-weight:300;
        color:#424242;
    }
}

/*
footer {
    background-color:#2a2a2a;
    
    .logos {
        @include gridle (12);
        margin:2em 0;
    }
}
*/
.no-image {
    display:block;
    position: relative;
	width: 100%;
    background:#cccccc;

    &:before {
	    content: "";
	    display: block;
	    padding-top: 100%;
    }

    .no-image-label {
        display: block;
        position:  absolute;
        color:$color-sub-heading;
        font-size:1.6em;
        text-align:center;
        text-transform:uppercase;
        font-weight:500;        
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
    }
}

#search {
    display: flex;

    #search-filter {
        background: $colour-background-lightest;
        width: 300px;
        @include gridle_state(tablet){
		        width:100%;
		        display:block;    
            }
	    @include gridle_state(mobile){
		        width:100%;
		        display:block;
		}	
//start facet addition
	& .facets{
	background-color: $colour-background-lightest;
    color: $colour-bodytext; //to-do rationalise colors
	direction:ltr;
	float: left;
	position:relative;
	padding: 40px 20px 0px 20px;
		& a {
		text-decoration: none;
		display: block;
		padding: 6px 0px;
		//color: $colour-bodytext-inverted;
		line-height:18px;
		font-size: 14px;
		font-weight: 400;
		color: #333;
			&:hover{text-decoration: underline;}
			&.switch:before{
			@include border-radius(9px);
			width:40px;
			background-color: black;
			display:inline-block;
			font-family: "entypo-social";
			content: "\F307";	
			font-size: 24px;
			height: 18px;
			margin-right: 10px;
			vertical-align: middle;
			overflow: hidden;
			color:white;
			}	
			&.switch.active:before{
				background-color: $colour-primary-green;
				text-align: right;
				color:white;
			}
	
		
			&.item:before{
			@include icon-item;
			font-size: 21px;
			vertical-align: middle;
			padding-right: 5px;
			color: #555;
			}
			&.article:before{
			@include icon-article;
			 font-size: 21px;
			 vertical-align: middle;
			 padding-right: 5px;
			 color: #555;
			
			}
			&.specimen:before{
			@include icon-specimen;
					 font-size: 21px;
					 vertical-align: middle;
					 padding-right: 5px;
					 color: #555;	
			}
			&.species:before{
			@include icon-species;
			 font-size: 21px;
			 vertical-align: middle;
			 padding-right: 5px;
			 color: #555;
			
			}
		} // end a

		& h4{
			   font-size: 18px;
			   font-weight: 300;
			    margin: 10px 0 12px;
				padding: 0 0px 10px;
			   color: $colour-bodytext-light;
			   border-bottom: 1px solid #ddd;
			   line-height: 27px;
			  &:after{
				  text-align: middle;
				  font-weight: 400;
				 font-size: 30px;
				  float:right;
				  content:"-";
			  }
			  &.collapsed{
				    &:after{
					  text-align: middle;
					  font-weight: 400;
					  font-size: 30px;
					  float:right;
					  content:"+";
				  }
			  }
		} //end h4

		& .badge{
			font-size:14px;
			font-weight: 400;
			color: #555; //to-do rationalise colours
			padding-left: 3px;
			
		}
	
		& .facetgroup
		{
			& .facetitems{
			padding: 0px 0px 30px;
			border-bottom: 1px solid #ddd; //to-do rationalise colour
			}
			
			& .facetheader{
						   border-bottom: 1px solid #ddd;
						   margin-bottom: 12px;
				& h4 {
					border-bottom: none;
					margin-bottom: 0px;
				}
			}
			
			.selected {
	        		& a{
					background: none repeat scroll 0 0 $colour-background-lightest;
	
					color: #333;
					display: inline-block;
					font-weight:500;
					line-height: 18px;
					padding: 6px 0px;
					font-size: 14px;
					& span {
						font-weight:400;
					}
					
					& .group{
					
					color:#000;	
					}
					
					& .icon-close:before {
						  font-size: 10px;
						  font-weight: bold;
						  padding: 0 0 0 5px;
					}
	    		}
			}
	
		}
	

		
	}	





//end addition
        .button-filter {
            cursor: pointer;
            padding: 0 20px;
            display: block;
            color: $color-default;
            background: $colour-primary-green;
            height: 70px;
            line-height: 70px;
            font-size: 18px;
            font-weight: 300;
        }

        h4 {
            padding: 0 20px;
            font-weight: 300;
            font-size: 1.1em;
            color: $color-default;
            margin: 1.33em 0 0.6em;
        }

        a {
            padding: 0 20px;
            display: block;
            color: $color-default;

            .badge {
                color: #bbbbbb;
            }
        }

        a.active {
            color: $color-default;
            font-weight: 500;

            .badge {
                color: $color-museum-green;
            }
        }
    }

    #search-filter.disabled {
        .icon-filter::before {
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }

        .facets {
            display:none;
        }
    }

    .results {
        width: 100%;
        background: #e3e3e3;
        padding: 0 0 20px 0px;

        .active-facets {
            padding: 20px 0 0 20px;

            a {
                color: $colour-bodytext;
               // height: 35px;
                line-height: 35px;
                display: inline-block;
				font-weight:500;
				line-height: 30px;
				font-size: 14px;
                border-radius: 3px;
                background: $colour-background-lightest;
                padding: 0 10px;
                margin: 0 5px 0 0;
 
                 & span {
					font-weight:400;
				}

                & .icon-close {
                    font-size: 10px;
                    font-weight: bold;
                    padding: 0 0 0 5px;
                }
            }
        }

        .pagination {
	        width: 100%;
	        padding: 20px 20px 10px 20px;
	        &.bottom{
		        padding: 0px 20px 30px 20px;

	        }
            	clear: both;
		    @include gridle_state(tablet){
			    padding: 20px;
			}
		    @include gridle_state(mobile){
			    padding: 20px;
			}
            & .counts {
		        display: inline-block;
		        font-size:20px;
	        }
            & a.button{
		        display: inline-block;
		        padding: 0 5px;
		        &:hover{text-decoration: underline; }
		        &.disabled{
			        color:$colour-sidetext;
			        text-decoration: none;
			    }
	        }

            div {
                display: inline-block;
                font-weight: 400;
                margin-right: 20px;
            }


            .numbers {
               display:block;
               line-height: 40px;
               width: 100%;
            }

            .options {

                & .viewtype{
			        line-height: 25px;
			        font-size: 25px;
		        }
        		& a.button{
		            display: inline-block;
		            padding: 0 5px;
		            text-decoration: none; 
		            color: $colour-sidetext;
		            &:hover{text-decoration: underline;}
		            &.disabled{
			            color:$colour-sidetext;
		            }
		            &.first{ 
			            margin-left:5px;
			            border-right:1px black solid;
			            &.active{
			                color:$colour-bodytext;
                            text-decoration: underline;
				            &:hover{text-decoration: none;}
			             }
		            }
		            &.last{
				        border-left: none;
					    border-top-left-radius:0px;
					    border-bottom-left-radius: 0px;	
			            &.active{
			                color:$colour-bodytext;
			                text-decoration: underline;
				            &:hover{text-decoration: none;}
				        }
			        }
		            &.active{	
		                color: $colour-bodytext;
				        &:hover{text-decoration: none;}
		            }
		        }
            }

            .pages a {
                display: inline-block;
                padding: 0 5px;
                color: $color;
            }

            .pages a.disabled {
                color: #cccccc;
            }
/*
            .order {
                margin: 0 20px 0 0;
            }

            .order a, .perpage a {
                color: #756969;
                height: 35px;
                line-height: 35px;
                display: inline-block;
                border-radius: 2px;
                background: $color-default;
                padding: 0 10px;
                margin: 0 5px 0 0;
            }

            .order a.active, .perpage a.active {
                background: #cccccc;
            }
*/
            .icon-left-arrow, .icon-right-arrow {
                font-size: 0.7em;
            }

            input {
                width: 3rem;
                border: 1px solid #d7d7d7;
                color: #756969;
                padding: 4px 0;
                display: inline-block;
                border-radius: 2px;
                text-align: center;
                background: $color-default;
            }
        }

        .pagination.bottom {
            margin: 20px 0 40px 20px;
        }

        .results-area {
            display: table;
            content: "";
            clear: both;
            padding-left: 10px;
            //20/4/2015 - Removed for Design integration
           /* .item, .specimen, .article, .species {
                float: left;
                width: 240px;
                margin: 20px 0 0 20px;

                a {
                    display: block;
                    position: relative;

                    &:before {
                        border-bottom-left-radius: 3px;
                        padding: 10px;
                        color: $color-default;
                        text-transform: uppercase;
                        position: absolute;
                        font-size: 0.9em;
                        font-weight: 500;
                        top: 0;
                        right: 0;
                    }
                }

                img {
                    width: 100%;
                    display: block;
                }

                .title {
                    display: block;
                    height: 6em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    background-color: #f9f9f9;
                    color: #000;
                    font-weight: 500;
                    padding: 10px;
                }
            }*/
        }

        .item {
            .icon-item {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.5em;
                padding: 0 4px;
                color: $color-default;
                background-color: $color-item;
            }
        }

        .article {
            .icon-article {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.5em;
                padding: 0 4px;
                color: $color-default;
                background-color: $color-article;
            }
        }

        .specimen {
            .icon-specimen {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.5em;
                padding: 0 4px;
                color: $color-default;
                background-color: $color-specimen;
            }
        }

        .species {
            .icon-species {
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1.5em;
                padding: 0 4px;
                color: $color-default;
                background-color: $color-species;
            }
        }

        .no-image-label {
            padding-top: 4em;
        }
    }
}

#search-bar {
    background:$color-museum-green;
    height:70px;

    form {
        display:flex;
        align-items:center;
        height:70px;
        padding:0 20px;        

        input {
            margin:0;
            outline:0;
            padding:0 1em;
            font-size:1.2em;
            font-weight:300;
            border:0;
            width:100%;
            height:44px;
            border-radius:2px 0 0 2px;
        }

        button {
            height:44px;
            margin:0;
            outline:0;
            padding:0 10px;
            border:0;
            border-radius:0 2px 2px 0;
            color:$color-default;
            background:#000;
        }
    }
}

#hero {
    background: url(/content/img/img-home-birds.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: flex-end;

    form {
        height: 150px;
        background-color: rgba(183, 215, 31, 0.7);
        width: 100%;
        display: flex;
        align-items:center;

        .search-area {
            width:66%;
            display:flex;
            margin:auto;

            input {
                height: 60px;
                margin: 0;
                outline: 0;
                padding: 0 1em;
                border: 0;
                width: 100%;
                border-radius: 3px 0 0 3px;
                font-size:1.3em;
                font-weight:300;
            }

            button {
                height: 60px;
                margin: 0;
                outline: 0;
                padding: 0 16px;
                border: 0;
                border-radius: 0 3px 3px 0;
                color: $color-default;
                background: #1a1e06;
                font-size:1.4em;

                .icon-search:before {
                    position:relative;
                    top:1px;
                    left:1px;
                }
            }
        }
    }
}

#explore-collection {    
    background:#1d1d1d;

    .collection-content {
        @include gridle_parent();
        
        h2 {
            font-size:1.7em;
            margin:3em 0 0;
        }

        p, h2 {
            @include gridle (12);
            color:$color-default;
        }

        .explore-type {
            @include gridle (3);

            a {
                position:relative;
                display:block;
                margin:0 0 5em;

                img {
                    border-radius:3px;
                    width:100%;
                    display:block;
                }

                .icon-article, .icon-item, .icon-species, .icon-specimen {
                    border-top-left-radius:3px;
                    color:$color-default;
                    top:0;
                    left:0;
                    position:absolute;
                    padding:0 10px;                    
                    font-size:4em;
                    display:flex;
                    align-items:center;

                    .count-wrapper {
                        display:flex;
                        flex-direction:column;
                        padding:0 10px;

                        .type {
                            font-size:0.3em;
                        }

                        .count {
                            font-size:0.3em;
                            font-weight:300;
                        }
                    }

                }
            }
        }

        .article {
            span {
                background-color:$color-article;
            }
        }
        .item {
            span {
                background-color:$color-item;
            }
        }
        .species {
            span {
                background-color:$color-species;
            }
        }
        .specimen {
            span {
                background-color:$color-specimen;
            }
        }
    }
}

#explore-venue
{
    background:#e2e2e2;
    .recent-content, .venue-content {
        @include gridle_parent();

        h2 {
            @include gridle (12);
        }

        .tile {
            @include gridle (3);
        }

        .venue {
            @include gridle (6);

            span {
                font-weight:300;
                font-size:1.2em;
                color:#000;
            }
        }
    }
}

#developers {
    display:flex;

    .menu {
        width:300px;
    }

    .documentation {
        width:100%;
    }
}

//additions from Pattern Lab
.tile {
    &.list {
        float: left;
        direction: ltr;
    }

    &.full {
        width: 255px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
    }

    position: relative;
    direction: ltr;
    float: left;

    & img {
        @include border-radius(3px);
        display: block;
        width: 100%;

        &.backgroundimage {
            width: 400%;
            height: 400%;
            position: absolute;
            left: -150%;
            top: -150%;
            z-index: -1;
            @include blur(100px);
        }
    }

    & a {
        display: block;
        margin: 0 0 20px 0px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        color: $colour-bodytext;
        background: $colour-background-title;
    }

    & .title {
        display: block;
        padding: 35px $padding-side 20px $padding-side;
        font-size: 14px;
        background: $colour-background-title;
        height: 8em;
        direction: ltr;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        line-height: 1.3;
        box-sizing: border-box;
        @include border-radius-bottom(3px);
        /* @include gridle_state(tablet mobile){
		 height:8em;
		 } */
        & .heading {
            display: block;
            color: $colour-heading;
            font-weight: 500;
        }

        & .itemtext {
            position: relative;
            background: $colour-background-title;
        }

        & .regnum {
            display: block;
            font-weight: 300;
        }
    }
}

.itemtext {
    position: relative;
    background: $colour-background-title;

    .list & {
        display: block;
        background: $colour-background-title;
    }
}

.tileimages {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: $padding-side;
    background-color: $colour-background-image;
    box-sizing: border-box;
    @include border-radius-top(3px);

    .list & {
        width: 33%;
        float: left;
        padding: 0;
    }

    & img {
        @include border-radius(0px);
    }
}

.tile-tag {
    direction: ltr;
    color: $colour-bodytext-inverted;
    align-items: center;
    //border-top-left-radius: 3px;
    color: #fff;
    display: flex;
    font-size: 21px;
    line-height: 1.2;
    left: 0;
    padding: 0 $padding-side;
    position: absolute;
    top: 0;

    .home & {
        font-size: 2.5em;
    }

    &.article {
        background-color: $colour-articles;
    }

    &.article:before {
        @include icon-article;
    }

    &.item {
        background-color: $colour-items;
    }

    &.item:before {
        @include icon-item;
    }

    &.specimen {
        background-color: $colour-specimens;
    }

    &.specimen:before {
        @include icon-specimen;
    }

    &.species:before {
        @include icon-species
    }

    &.species {
        background-color: $colour-species;
    }

    & .count-wrapper {
        font-size: 14px;
        line-height: 1em;
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .tile.home & {
            font-size: 0.45em;
        }

        & .type {
            text-transform: capitalize;
        }
    }
}

.collectiontile {
    @include gridle (3);
    @include gridle (6, tablet);
    @include gridle (12, mobile);
    float: left;
    direction: ltr;
    margin-bottom: 25px;

    a {
        color: $gray-dark;
    }

    .collectionareas & {
        @include gridle (4);
        @include gridle (6, tablet);
        @include gridle (12, mobile);
        float: left;
        direction: ltr;
    }

    & img {
        width: 100%;
    }

    & .desc {
        font-size: 14px;
        font-weight: 200;
        padding: 10px 0px;
        color: $colour-heading-inverted;
        display: block;
    }

    & .title {
        display: block;
        padding: 10px $padding-side 20px $padding-side;
        font-size: 14px;
        background: $colour-background-title;
        height: 130px;
        direction: ltr;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        line-height: 1.3;
        @include border-radius-bottom(3px);

        @include gridle_state(tablet mobile) {
            height: 8em;
        }

        & h4 {
            font-size: 14px;
            line-height: 1.3;
        }

        & .heading {
            display: block;
            font-weight: 500;
        }

        & .description {
            font-weight: 300;
        }

        .list & .heading {
            display: block;
            color: $colour-heading;
            font-weight: 500;
        }

        & .itemtext {
            position: relative;
            background: $colour-background-title;
        }

        & .regnum {
            display: block;
            font-weight: 300;
        }
    }
}

#map {
    height:450px;
    border-radius:5px;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
	clear: both;
	overflow: hidden;
	background: $colour-background-dark;
	
	/*
	& .logos
	{
	@include gridle(12);
	direction: ltr;
    float: left;
    margin: 2em 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
	}
	*/
}

footer {
	clear: both;
	overflow: hidden;
	background: $colour-background-dark;
	color:$colour-heading-inverted;
	padding-top:32px;
	
	& .wrapper{
		padding-bottom: 30px;
	}
	
	& .logos {
	    direction: ltr;
        float: left;
        margin: 0 0 10px 0px;
        padding:0px 20px 10px 10px;
        @include gridle(12, 'mobile');
        float:left;
	    direction: ltr;
		@include gridle_state('mobile'){
			float:left;
			direction: ltr;
		}
	}
	& .footerpromos{
		float: left;
	}
	& .footerpromo{
		@include gridle(4, 'tablet');
		float:left;
		direction:ltr;
		@include gridle_state('mobile') {
		    display: none;
		}
		&.first{
			padding-left:0px;
		}

		padding-left: 20px;
		padding-right: 20px;
		border-right: 1px solid #606060;
		float:left;
		direction: ltr;
		
        & ul{
			padding-left: 10px;
            list-style: outside none none;
            margin: 0;
			
			& li{ 
				line-height: 14px;
				padding-bottom: 4px;
			}
		}
					& li{ 
				line-height: 16px;
			}
		& h2{
			font-size: 14px;
			padding-bottom: 6px;
		}
		& a {
			font-size: 12px;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	& .comment{
		color: $colour-heading-inverted;
	}
	
	& .tweet{
		color: $colour-heading-inverted;
	}

	& h2{
		color: $colour-heading-inverted;
	}
	
	& .footerbase
	{
		@include gridle(12);
		background-color: #606060;
		float: left;
		direction: ltr;
		padding:20px 0px 0px;
		
		& .stategovernmentlinks{
			float:left;
			font-size:12px;
			padding-right: 30px;
			padding-bottom: 20px;
			padding-left:10px;
			& img
			{
				height: 30px;
			}
			
		}
		& .venueinformation{
			font-size: 12px;
			float:left;
			padding-left: 10px;
			padding-bottom: 20px;
			margin-right:20px;
		}
        &.wrapper{
            padding-bottom: 10px
        }

		& ul {
            list-style: outside none none;
			clear: left;
            margin: 0;
			//padding-left:10px;
			& li {
				float: left;
				margin-right: 13px;
				font-size: 12px;
			}
		}
	}
}

// Collections
.abouthero {
    display:block;
    width:100%;
    margin-bottom: 50px;

    & img {
	    width:100%;
    }
}

.breadcrumb
{
	display:block !important;
}

.about {
	& h1
	{
		    float: none;
			font-size: 22px;
			padding-bottom: 5px;
			padding-left: 10px;
	}
	
	& h2
	{
		    float: none;
			font-size: 22px;
			padding-bottom: 5px;
			padding-left: 10px;
	}
	
	& p
	{
		font-size: 17px;
		font-weight: 300;
		margin-bottom: 1.5em;
		padding-left: 10px;
		
	}
	
	& .collections{
		max-width:1040px;
		& h2
		{
			padding-bottom: 15px;
		}
	}
	& .aboutcontent{
		width:66.6667%;
	}
}

#collarea {
    & h1 {
        float: none;
        font-size: 22px;
        padding-bottom: 5px;
        padding-left: 0px;
    }

    & h2 {
        float: none;
        font-size: 22px;
        padding-bottom: 5px;
        padding-left: 0px;
    }

    & p {
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 1.5em;
        //padding-left: 10px;
    }

    & .colldesc {
        @include gridle(8);
        float: left;
        direction: ltr;
        padding-right: 20px;
    }

    & .subcoll {
        @include gridle(12);
        float: left;
        direction: ltr;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 50px;

        & h2 {
            padding-left: 10px;
            padding-bottom: 15px;
        }
    }

    & .sidecolumn {
        @include gridle(4);
        float: right;
        direction: ltr;

        & h4 {
            color: #454545;
            font-size: 17px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        & .favorites {
            background-color: $colour-background-lightest;
            border-radius: 3px;
            color: #666;
            padding: 15px 20px 20px;
        }

        & .tile.full {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }

        & .tileimages {
            width: 33%;
            float: left;
        }

        & .itemtext {
            display: block;
        }

        & .tile.list {
            width: 100%;

            & .title {
                width: 75%;
            }

            & .tileimages {
                float: left;
                padding: 0;
                width: 33%;
            }
        }
    }

    & .seeall {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}