@import "normalize";
@import 'variables';
@import 'mixins';
@import 'grid';
@import "typography";
@import "layout";

body {
    font-family:$font-family;
}

a {
    color: $color-links;
    text-decoration:none;
}

header {
    background:#1b1b1b;
    height:76px;    
}

.brand {
    display:inline-block;
    padding:0 20px;
    color: $color-default;
    font-size:1.35em;
    line-height:76px;
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;

    span {
        color:$color-museum-green;
        font-weight:600;
    }
}

nav {
    color:$color-default;
    font-size:1em;    
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;
    float:right;
    position:relative;

    a {
        display:inline-block;
        padding:0 20px;
        line-height:76px;

        &:hover {
            background:#000;
            color:$color-default;
        }
    }

    .button-search {
        background-color:$color-museum-green;
        color:$color-default;
        padding-right:60px;

        &:hover {
        background-color:$color-museum-green;
        color:$color-default;
        }
    }
}

button.icon {
    background:none;
    border:0;
    margin:0;
    padding:0;
}

.icon-label-hidden {
    clip:rect(0 0 0 0);
    overflow:hidden;
    position:absolute;
    height:1px;
    width:1px;
}

.form-search {
    float:left;
    background-color:$color-museum-green;
    height:76px;

    input {
        background-color:$color-museum-green;
        color:$color-default;
        box-sizing:border-box;
        border:0;
        padding:0 20px 0 50px;
        width:170px;
        line-height:76px;
        font-size:1.35em;

        &::-webkit-input-placeholder {
            opacity:1;
            color:$color-default;
        }
        &::-moz-placeholder {
            opacity:1;
            color:$color-default;
        }
        &:-ms-input-placeholder {
            opacity:1;
            color:$color-default;
        }
        &:-moz-placeholder {
            opacity:1;
            color:$color-default;
        }
    }

}

.wrapper {
    @include gridle_container ();
    max-width:1040px;
    margin:0 auto;
}

#title {
    background-color:#323232;    

    h1 {
        @include gridle (8);
        margin:1em 0;
        font-size:2em;
        font-weight:400;
        color:$color-default;        
    }

    .thumbnails {
        @include gridle (4);
        margin:2em 0 1.8em 0;
        @include gridle_no_gutter(left);

        .thumbnail {
            @include gridle (3);
            @include gridle_no_gutter();
            padding:0 0 7px 7px;

            img {
                width:100%;
                display:block;                                              
            }

            img.active {
                border:2px solid $color-museum-green;
                box-sizing:border-box;
            } 
        }

    }
}

#media {
    background-color:#b8b8b8;
    
    img {
        max-width:100%;
        display:block;
        margin:0 auto;
    }

    figcaption {
        background-color:#000;
        color:$color-default;

        .caption {
            @include gridle (10);
            margin:1em 0;
        }

        .media-tools {
            @include gridle (2);
            margin:1em 0;
            display:flex;
            justify-content:flex-end;

            button {
                color:#4c4c4c;
                width:50px;
                height:50px;
                border:2px solid #4c4c4c;
                border-radius:2px;
                margin:0 0 0 10px;
                box-sizing:border-box;

                &:hover {
                    color:$color-default;
                    border-color:$color-default;
                }
            }
        }
    }
}

#record {    
    font-weight:300;
    background-color:#f0f0f0;

    .text-content {
        @include gridle (8);
        
        .summary {
            margin:5em 0 2em;
            line-height:1.8em;                
            font-size:1.1em;

            h3 {
                color:#424242;
                font-size:1.6em;
                font-weight:400;
                margin:1em 0 0.5em;
            }            
        }

        .detail {
            ul {
                margin:0;
                padding:0;
                list-style:none;
            }

            li {
                clear:both;
            }

            h3 {
                @include gridle (3);
                @include gridle_no_gutter(left);
                font-weight:300;
                font-size:1.1em;
                color:$color-sub-heading;
                line-height:1.6em;
                margin:0.6em 0;
            }

            p {
                @include gridle (9);
                @include gridle_no_gutter(right);
                line-height:1.6em;
                font-size:1.1em;
                margin:0.6em 0;
            }
        }

        a {
            color:#488DD9;            
            border-bottom:2px solid rgba(72, 141, 217, 0.5);

            &:hover {
                border-bottom-color:#488DD9;
            }
        }
    }

    .side-content {
        @include gridle (4);
        font-weight:500;
        font-size:1.1em;
        color:$color-default;
        margin:5em 0 0;
        
        .on-display {
            background: linear-gradient(60deg, #a82912 0%,#a82912 20%,#5f0800 21%,#000000 21%,#000000 51%,#490200 52%,#490200 56%,#000000 57%,#000000 62%,#5f0800 63%,#5f0800 67%,#711300 68%,#711300 98%,#b44b14 99%);
            margin:0 0 20px;
            border-radius:3px;
            padding:20px;
            line-height:1.7em;

            a {
                color:$color-default;
                border-bottom:2px solid rgba(255, 255, 255, 0.50);
                font-weight:400;

                &:hover {
                    border-bottom-color:#fff;
                }
            }
        }

        .print {
            border-radius:3px;
            background:#000;
            color:$color-default;
            margin-bottom:3px;
            height:3em;

            .icon {
                color:$color-default;
                border:none;
                line-height:3em;
                position:relative;
                display:inline-block;
                box-sizing:border-box;
                width:100%;
                padding:0;

                .icon-label {
                    padding-left:20px;
                }
            }
        }

        .social {
            border-radius:3px;
            background:#000;
            color:$color-default;
            height:3em;

            h4 {
                display:inline-block;
                margin:0;
                padding:0 0 0 20px;
                line-height:3em;
            }

            .social-tools {
                display:flex;
                justify-content:flex-end;
                float:right;

                .icon {
                    color:$color-default;
                    border:none;
                    border-left:1px solid $color-default;
                    display:inline-block;
                    height:3em;
                    line-height:3em;
                    box-sizing:border-box;
                    width:3em;
                    text-align:center;
                    margin:0;
                }
            }
            
        }
    }

    .cite-content {
        @include gridle (12);
        margin:4em 0;
        
        .cite {
            padding:2em;
            background-color:$color-default;
            border-radius:3px;

            h4 {
                color:$color-sub-heading;
                font-weight:400;
                font-size:1.6em;
                margin:0.6em 0;
            }

            p {
                font-size:1.1em;
                margin:0.9em 0;
            }

            .icon {
                color:$color-sub-heading;
            }

            strong {
                color:$color-sub-heading;
                font-weight:500;
            }
        }
    }
}

#related {
    .related-content {
        margin:4em 0 2em;
        @include gridle_parent();

        h3 {
            @include gridle (12);
            color:#424242;
            font-size:1.6em;
            font-weight:400;
        }

        .item, .specimen, .article, .species {
            @include gridle (3);
            padding-top:10px;
            padding-bottom:10px;
                
            a {
                border:1px solid #dcdcdc;
                display:block;
                position:relative;

                &:before {
                    border-bottom-left-radius:3px;
                    padding:10px;
                    color:$color-default;
                    text-transform:uppercase;
                    position:absolute;
                    font-size:0.9em;
                    font-weight:500;
                    top:0;
                    right:0;
                }
            }        

            img {
                width:100%;
                display:block;
            }

            .title {
                display:block;
                height:6em;
                overflow:hidden;
                text-overflow:ellipsis;
                background-color:#f9f9f9;
                color:#000;
                font-weight:500;
                padding:10px;
            }
        }

        .item {
            .icon-item {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-item;
            }
        }

        .article {
            .icon-article {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-article;
            }
        }

        .specimen {
            .icon-specimen {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-specimen;
            }
        }

        .species {
            .icon-species {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-species;
            }
        }

        .no-image-label {
            padding-top:4em;
        }
    }

    .related-link {
        text-align:center;
        margin:0 0 4em 0;
        font-size:1.2em;
        font-weight:300;
        color:#424242;
    }
}

footer {
    background-color:#2a2a2a;
    
    .logos {
        @include gridle (12);
        margin:2em 0;
    }
}

.no-image {
    display:block;
    position: relative;
	width: 100%;
    background:#cccccc;

    &:before {
	    content: "";
	    display: block;
	    padding-top: 100%;
    }

    .no-image-label {
        display: block;
        position:  absolute;
        color:$color-sub-heading;
        font-size:1.6em;
        text-align:center;
        text-transform:uppercase;
        font-weight:500;        
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
    }
}

#search {
    display:flex;

    .facets {
        background:#141414;
        width:300px;        

        .button-filter
        {
            padding:0 20px;
            display:block;
            color:$color-default;
            background:#000;
            height:70px;
            line-height:70px;
            font-size:1.4em;
            font-weight:300;
        }

        h4 {
            padding:0 20px;
            font-weight:300;
            font-size:1.1em;
            color:$color-default;
            margin:1.33em 0 0.6em;
        }

        a {
            padding:0 20px;
            display:block;
            color:$color-default;            

            .badge {
                color:#bbbbbb;
            }
        }

        a.active {
            color:$color-default;
            font-weight:500;

            .badge {
                color:$color-museum-green;
            }
        }
    }

    .results {
        width:100%;
        background:#e3e3e3;

        .active-facets {
            padding:20px 0 0 20px;
            a {
                color:#756969;
                height:35px;
                line-height:35px;
                display:inline-block;
                border-radius:2px;
                background:$color-default;
                padding:0 10px;
                margin:0 5px 0 0;

                .icon-close {
                    color:$color;
                    font-size:0.7em;
                    padding:0 0 0 5px;
                }
            }
        }

        .pagination {
            margin:40px 0 0 20px;

            .counts {
                display:inline-block;
                margin:0 20px 0 0;
            }

            a.button {
                display:inline-block;
                padding:0 5px;
                color:$color;
            }

            a.button.disabled {
                color:#cccccc;
            }

            .icon-left-arrow, .icon-right-arrow {
                font-size:0.7em;
            }
        }

        .pagination.bottom {
            margin:20px 0 40px 20px;
        }

        .results-area {
            display:table;
            content:"";
            clear:both;

            .item, .specimen, .article, .species {
                float:left;
                width:240px;
                margin:20px 0 0 20px;

                a {
                    display:block;
                    position:relative;

                    &:before {
                        border-bottom-left-radius:3px;
                        padding:10px;
                        color:$color-default;
                        text-transform:uppercase;
                        position:absolute;
                        font-size:0.9em;
                        font-weight:500;
                        top:0;
                        right:0;
                    }
                }        

                img {
                    width:100%;
                    display:block;
                }

                .title {
                    display:block;
                    height:6em;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    background-color:#f9f9f9;
                    color:#000;
                    font-weight:500;
                    padding:10px;
                }
            }
        }

        .item {
            .icon-item {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-item;
            }
        }

        .article {
            .icon-article {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-article;
            }
        }

        .specimen {
            .icon-specimen {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-specimen;
            }
        }

        .species {
            .icon-species {
                position:absolute;
                top:0;
                left:0;
                font-size:1.5em;
                padding:0 4px;
                color:$color-default;
                background-color:$color-species;
            }
        }

        .no-image-label {
            padding-top:4em;
        }
    }
}

#search-bar {
    background:$color-museum-green;
    height:70px;

    form {
        display:flex;
        align-items:center;
        height:70px;
        padding:0 20px;        

        input {
            margin:0;
            outline:0;
            padding:0 1em;
            font-size:1.2em;
            font-weight:300;
            border:0;
            width:100%;
            height:44px;
            border-radius:2px 0 0 2px;
        }

        button {
            height:44px;
            margin:0;
            outline:0;
            padding:0 10px;
            border:0;
            border-radius:0 2px 2px 0;
            color:$color-default;
            background:#000;
        }
    }
}

#hero {
    background: url(/content/img/img-home-birds.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: flex-end;

    form {
        height: 150px;
        background-color: rgba(183, 215, 31, 0.7);
        width: 100%;
        display: flex;
        align-items:center;

        .search-area {
            width:66%;
            display:flex;
            margin:auto;

            input {
                height: 60px;
                margin: 0;
                outline: 0;
                padding: 0 1em;
                border: 0;
                width: 100%;
                border-radius: 3px 0 0 3px;
                font-size:1.3em;
                font-weight:300;
            }

            button {
                height: 60px;
                margin: 0;
                outline: 0;
                padding: 0 16px;
                border: 0;
                border-radius: 0 3px 3px 0;
                color: $color-default;
                background: #1a1e06;
                font-size:1.4em;

                .icon-search:before {
                    position:relative;
                    top:1px;
                    left:1px;
                }
            }
        }
    }
}

#explore {
    background:#1d1d1d;

    .explore-content {
        @include gridle_parent();

        h2 {
            color:$color-default;
            @include gridle (12);
            font-size:1.7em;
            margin:3em 0 1em;
        }

        .explore-type {
            @include gridle (3);

            a {
                position:relative;
                display:block;
                margin:0 0 5em;

                img {
                    border-radius:3px;
                    width:100%;
                    display:block;
                }

                .icon-article, .icon-item, .icon-species, .icon-specimen {
                    border-top-left-radius:3px;
                    color:$color-default;
                    top:0;
                    left:0;
                    position:absolute;
                    padding:0 10px;                    
                    font-size:4em;
                    display:flex;
                    align-items:center;

                    .count-wrapper {
                        display:flex;
                        flex-direction:column;
                        padding:0 10px;

                        .type {
                            font-size:0.3em;
                        }

                        .count {
                            font-size:0.3em;
                            font-weight:300;
                        }
                    }

                }
            }
        }

        .article {
            span {
                background-color:$color-article;
            }
        }
        .item {
            span {
                background-color:$color-item;
            }
        }
        .species {
            span {
                background-color:$color-species;
            }
        }
        .specimen {
            span {
                background-color:$color-specimen;
            }
        }
    }
}

#developers {
    display:flex;

    .menu {
        width:300px;
    }

    .documentation {
        width:100%;
    }
}