@{
    Layout = "Layout.cshtml";
}
<div class="abouthero fourzerofour error">
    <span class="collcategorybackground"></span>
</div>
<div id="collarea" class="container">
    <span class="collcategory">404 - Page not found</span>
    <div class="colldesc">
        <h1>We're sorry but the page you were looking for cannot be found</h1>
        <p>Possibly maybe try our <a href="/search">search page</a> for what you were looking for... if that doesnt work maybe try google</p>
    </div>
</div>