@{
    Layout = "ErrorLayout.cshtml";
}
<div class="abouthero fourzerofour error">
    <span class="collcategorybackground"></span>
</div>
<div id="errordesc" class="container">
    <h1 class="errorcategory">404 - Page not found</h1>
    <div class="desc">
        <h2>We're sorry but the page you were looking for cannot be found</h2>
        <p>This might be because you've used an outdated link or there's a typo in the address.</p>
        <p class="prelist">Or you can:</p>
        <ul>
            <li>try searching for the page you want</li>
            <li><a href="http://museumvictoria.com.au/discoverycentre/ask-us-a-question/">let us know</a> if we need to fix a broken link</li>
        </ul>
    </div>
</div>