@{
    Layout = "ErrorLayout.cshtml";
}
<div class="collectionshero fivehundred error">   
    <span class="collcategorybackground"></span>
</div>
<div id="errordesc" class="container">
    <h1 class="errorcategory">500 - Internal server error</h1>
    <div class="desc">
        <h2>Oops, something went haywire.</h2>
        <p>We're most likely trying to fix it so please try again later.</p>
    </div>
</div>