@{
    Layout = "Layout.cshtml";
}
<div class="abouthero fivehundred error">   
    <span class="collcategorybackground"></span>
</div>
<div id="collarea" class="container">
    <span class="collcategory">500 - Internal server error</span>
    <div class="colldesc">
        <h1>Oh no! Looks like something has broken in unexpected ways</h1>
        <p>It's probably best to try again later when we have fixed the problem</p>
    </div>
</div>