@{
    Layout = "Layout.cshtml";
}
<div class="abouthero fivehundred error">   
    <span class="collcategorybackground"></span>
</div>
<div id="errordesc" class="container">
    <h1 class="errorcategory">500 - Internal server error</h1>
    <div class="desc">
        <h2>Oops, something went haywire.</h2>
        <p>Try again by refreshing the page or going back to the previous page.</p>
    </div>
</div>