@{
    Layout = "Layout.cshtml";
}
<div class="collectionshero about">
</div>
<div class="container about" role="main">
    <div id="maincontent" class="aboutcontent">
        <h1>About Museums Victoria Collections</h1>
        <p>This site allows users to explore the natural sciences and humanities collections of Museums Victoria in Australia, featuring collections of zoology, geology, palaeontology, history, indigenous cultures and technology.  Over 1.15 million records were presented at launch in 2015, accompanied by over 150,000 images.</p>
        <h2>Open access to data, text content and images</h2>
        <p>We wish to encourage reuse and sharing of content.</p>
        <p>The elements of each record that are defined as data carry a <a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero (CC0) license</a>.</p>
        <p>All the text content and information written by curators, collection managers, and others is released under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC- BY) licence</a>.</p>
        <p>Images, sounds and audio-visual material are licensed separately to text. We apply open licenses wherever possible, including marking images as Public Domain as applicable. You will find over 100,000 openly licensed and public domain images in this site.</p>
        <h2>Author attribution and citation</h2>
        <p>We wish to assist users to properly cite information that they have reused. Every page has an easy-to-copy statement that shows how the information can be referenced. A great deal of work has gone into the research and writing of articles and species profiles; please provide credit and attribution where it's due.</p>
        <h2>Under the hood</h2>
        <p>If you're interested in looking under the hood, the code for this site is on <a href="https://github.com/museumsvictoria/collections-online">GitHub</a></p>
    </div>    
</div>