<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11442629-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-11442629-1', {'cookie_flags': 'SameSite=None;Secure'});
    </script>
    <title>Collections Online Website</title>
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/content/static/styles.css" rel="stylesheet">
    <script type="text/javascript" src="//use.typekit.net/izq0fed.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    @if (IsSectionDefined("Head"))
    {
        @RenderSection("Head")
    }
</head>
<body>
    <header role="banner">
        <a class="brand" href="/">Museums Victoria <span>Collections</span></a>
        <nav role="navigation">
            <a href="/collections">Our collections</a>
            <a href="/developers">Our API</a>
            <a href="#" class="button-search">
                <span id="search-button-icon" aria-hidden="true" class="icon-search-header"></span>
                <span class="search-text">Search</span>
            </a>
        </nav>
        <div id="search-bar">
            <form method="GET" action="/search" role="search">
                <input type="text" name="query" placeholder="enter search term ..." />
                <button class="search" type="submit">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="icon-label-hidden">Search</span>
                </button>
            </form>
        </div>
    </header>
    @RenderBody()
    <footer role="contentinfo">
        <div class="wrapper">
            <div class="logos">
                <a href="https://museumsvictoria.com.au/">
                    <svg class="mv-logo" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 257 51.1">
                      <path d="M123.1 22.5V7.9l-5.7 14.6h-4l-5.7-14.4v14.4H103V.5h6.4l6.1 14.9L121.2.6h6.7v22l-4.8-.1zm8.7-8V.5h4.9v13.6c0 2.7 1.5 4 3.8 4s3.8-1.3 3.8-4V.5h4.9v14c0 5.5-3.9 8.4-8.7 8.4-4.9.1-8.7-2.9-8.7-8.4zm32.4-7.4c-.1-1-1-2.8-3.7-2.8-1.8 0-3 1.2-3 2.4 0 1 .6 1.8 2.2 2.1l3 .6c4.2.8 6.4 3.5 6.4 6.6 0 3.4-2.9 7-8.1 7-6.1 0-8.7-3.9-9-7l4.5-1.1c.2 2 1.5 3.8 4.6 3.8 1.9 0 3.1-.9 3.1-2.3 0-1.1-.9-1.9-2.4-2.2l-3-.6c-3.7-.7-6-3.2-6-6.5 0-4.2 3.7-7.1 7.9-7.1 5.5 0 7.6 3.3 8 5.9l-4.5 1.2zm8.1 15.4V.5h13.9v4.6h-9v4.2h8.2v4.3h-8.2v4.2h9v4.7h-13.9zm17.8-8V.5h4.9v13.6c0 2.7 1.5 4 3.8 4s3.8-1.3 3.8-4V.5h4.9v14c0 5.5-3.9 8.4-8.7 8.4s-8.7-2.9-8.7-8.4zm41.8 8V7.9l-5.7 14.6h-4l-5.7-14.4v14.4h-4.6V.5h6.4l6 14.9L230 .6h6.7v22l-4.8-.1zm20.2-15.4c-.1-1-1-2.8-3.7-2.8-1.8 0-3 1.2-3 2.4 0 1 .6 1.8 2.2 2.1l3 .6c4.2.8 6.4 3.5 6.4 6.6 0 3.4-2.9 7-8.1 7-6.1 0-8.7-3.9-9-7l4.5-1.1c.2 2 1.5 3.8 4.6 3.8 1.9 0 3.1-.9 3.1-2.3 0-1.1-.9-1.9-2.4-2.2l-3-.6c-3.7-.7-6-3.2-6-6.5 0-4.2 3.7-7.1 7.9-7.1 5.5 0 7.6 3.3 8 5.9l-4.5 1.2zM119.7 28.5h3.2l-8.5 22h-3l-8.3-22h3.2l6.6 18.1 6.8-18.1zm6.8 22v-22h3.1v22h-3.1zm6.9-11c0-7.3 5.5-11.4 10.9-11.4 5 0 8.6 2.7 9.7 7l-2.8 1c-.8-3.3-3.2-5.2-6.9-5.2-4 0-7.8 2.9-7.8 8.7s3.8 8.7 7.8 8.7c3.8 0 6.1-2.3 7-5.3l2.7 1c-1.2 4.1-4.6 7.1-9.7 7.1-5.6-.2-10.9-4.3-10.9-11.6zm32.4-8.2v19.2h-3V31.3h-7.4v-2.8h17.7v2.8h-7.3zm19.3-3.3c5.5 0 11 4.1 11 11.4 0 7.3-5.5 11.5-11 11.5s-11-4.1-11-11.5 5.5-11.4 11-11.4zm0 20.1c4.1 0 7.9-2.9 7.9-8.7s-3.8-8.7-7.9-8.7-7.9 2.9-7.9 8.7 3.8 8.7 7.9 8.7zm20.8-6.6h-3.3v9h-3.1v-22h8.3c4.1 0 6.7 2.9 6.7 6.5 0 3.2-2 5.6-5.3 6.2l5.2 9.2H211l-5.1-8.9zm1.4-2.8c2.5 0 4.2-1.5 4.2-3.7 0-2.3-1.7-3.8-4.2-3.8h-4.6v7.5h4.6zm11.9 11.8v-22h3.1v22h-3.1zm21.7-6.2h-9.7l-2.3 6.1h-3.3l8.7-22h3.5l8.7 22h-3.3l-2.3-6.1zm-8.7-2.8h7.6l-3.8-9.9-3.8 9.9zM80 0c-3.7 0-7 2.2-8.4 5.6 0 0-3.7 8.5-5.8 13.4C64 15 61 8 60 5.6v-.1C58.6 2.2 55.3 0 51.7 0c-3.6 0-6.8 2-8.3 5.3v.2s-3.8 8.8-5.9 13.6c-.6-1.3-1.3-3-2-4.7l-3.3-7.7-.7-1.5v-.1C29.8 1.9 26.8 0 23.2 0c-3.5 0-6.8 2.2-8.3 5.5l-.1.3-14 32.4C.2 39.5 0 40.7 0 42c0 5 4.1 9.1 9.1 9.1 3.6 0 6.8-2.1 8.4-5.6L23.3 32l5.8 13.4c0 .1.1.1.1.1 1.7 3.5 4.6 5.5 8.3 5.5h.1c3.6 0 6.7-2 8.4-5.6v-.1L51.7 32l5.8 13.4c.9 2.2 2.7 4 5 4.9 1.1.4 2.2.6 3.4.6 2.5 0 4.9-1 6.6-2.8 1.1-1.2 1.8-2.7 2.4-4l11.9-27.6c1-2.3 1.4-3.3 1.6-3.8.6-1.2.8-2.5.8-3.8C89.1 4.1 85 0 80 0z"/>
                    </svg>
                </a>
            </div>
            <div class="footerpromos">
                <div class="footerpromo first">
                    <h2>Visit Us</h2>
                    <ul>
                        <li><a href="https://museumsvictoria.com.au/melbournemuseum/">Melbourne Museum</a></li>
                        <li><a href="https://museumsvictoria.com.au/scienceworks/">Scienceworks</a></li>
                        <li><a href="https://museumsvictoria.com.au/immigrationmuseum/">Immigration Museum</a></li>
                        <li><a href="https://museumsvictoria.com.au/reb/">Royal Exhibition Building</a></li>
                    </ul>
                </div>
                <div class="footerpromo">
                    <h2>Memberships</h2>
                    <ul>
                        <li><a href="https://museumsvictoria.com.au/about/members/how-to-join/">Join MV members</a></li>
                        <li><a href="https://museumsvictoria.com.au/education/mvteachers/">Join MV teachers</a></li>
                        <li><a href="https://museumsvictoria.com.au/about/donations/">MV donations</a></li>
                    </ul>
                </div>
                <div class="footerpromo">
                    <h2>Links</h2>
                    <ul>
                        <li><a href="https://museumsvictoria.com.au/about/work-opportunities/employment/">Employment</a></li>
                        <li><a href="https://museumsvictoria.com.au/education/">Education</a></li>
                        <li><a href="https://museumsvictoria.com.au/about/media-centre/">Media</a></li>
                    </ul>
                </div>
            </div> <!--footer promos -->
        </div>
        <div class="footerbase">
            <div class="wrapper">
                <div class="venueinformation">
                    <strong>Museums Victoria</strong> &nbsp;&nbsp;|&nbsp;&nbsp; GPO Box 666 Melbourne
                    3001, Victoria, Australia &nbsp;&nbsp;|&nbsp;&nbsp; Bookings &amp; Enquiries 13
                    11 02
                    <ul>
                        <li class="Copyright">&copy; <strong>MUSEUM</strong> VICTORIA</li>
                        <li><a href="https://museumsvictoria.com.au/footer-links/privacy/">Privacy</a></li>
                        <li><a href="https://museumsvictoria.com.au/footer-links/disclaimer/">Disclaimer</a></li>
                        <li><a href="https://museumsvictoria.com.au/footer-links/conditions-of-use/">Conditions</a></li>
                        <li><a href="https://museumsvictoria.com.au/footer-links/rights/">Rights</a></li>
                        <li><a href="https://museumsvictoria.com.au/footer-links/contact-us/">Contact us</a></li>
                    </ul>
                </div>
                <div class="stategovernmentlinks">
                    <a href="http://www.vic.gov.au/">
                        <img src="/content/img/logo-creative-victoria.png" alt="State Government Victoria" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="/content/static/bundle.js"></script>
</body>
</html>