<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collections Online Website</title>
        <link href="/content/css/styles.css" rel="stylesheet">
        <script type="text/javascript" src="//use.typekit.net/izq0fed.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
    </head>
    <body>
        @Html.Partial("header")
        @RenderBody()
        <footer>
            <div class="wrapper">

                <div class="logos">
                    <img alt="Museum Victoria" src="/content/img/logo-mv-white.png">
                </div>
                <div class="footerpromos">
                    <div class="footerpromo first">
                        <h2>Venues</h2>
                        <ul>
                            <li><a href="http://museumvictoria.com.au/about/work-opportunities/employment/">Melbourne Museum</a></li>
                            <li><a href="http://museumvictoria.com.au/about/media-centre/">Scienceworks</a></li>
                            <li><a href="http://museumvictoria.com.au/education/">Immigration Museum</a></li>
                            <li><a href="http://museumvictoria.com.au/about/media-centre/">Royal Exhibition Building</a></li>

                        </ul>
                    </div>




                    <div class="footerpromo">
                        <h2>Memberships</h2>
                        <ul>
                            <li><a href="http://museumvictoria.com.au/about/members/how-to-join/">Join MV members</a></li>
                            <li><a href="http://museumvictoria.com.au/education/mvteachers/">Join MV teachers</a></li>
                            <li><a href="http://museumvictoria.com.au/about/donations/">MV donations</a></li>
                        </ul>
                    </div>
                    <div class="footerpromo">
                        <h2>Links</h2>
                        <ul>
                            <li><a href="http://museumvictoria.com.au/about/work-opportunities/employment/">Employment</a></li>
                            <li><a href="http://museumvictoria.com.au/education/">Education</a></li>
                            <li><a href="http://museumvictoria.com.au/about/media-centre/">Media</a></li>
                        </ul>
                    </div>
                </div> <!--footer promos -->


            </div>

            <div class="footerbase">
                <div class="wrapper">
                    <div class="venueinformation">
                        <strong>Museum Victoria</strong> &nbsp;&nbsp;|&nbsp;&nbsp; GPO Box 666 Melbourne
                        3001, Victoria, Australia &nbsp;&nbsp;|&nbsp;&nbsp; Bookings &amp; Enquiries 13
                        11 02
                        <ul>
                            <li class="Copyright">&copy; <strong>MUSEUM</strong> VICTORIA</li>
                            <li><a href="http://museumvictoria.com.au/footer-links/privacy/">Privacy</a></li>
                            <li><a href="http://museumvictoria.com.au/footer-links/disclaimer/">Disclaimer</a></li>
                            <li><a href="http://museumvictoria.com.au/footer-links/conditions-of-use/">Conditions</a></li>
                            <li><a href="http://museumvictoria.com.au/footer-links/rights/">Rights</a></li>
                            <li><a href="http://museumvictoria.com.au/footer-links/contact-us/">Contact us</a></li>
                        </ul>
                    </div>


                    <div class="stategovernmentlinks">
                        <a href="http://www.vic.gov.au/">
                            <img src="/content/img/CreativeVictoriaLogo_Reversed.png" alt="State Government Victoria" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/content/js/bundle.js"></script>
    </body>
</html>