<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collections Online Website</title>
        <link href="/content/css/styles.css" rel="stylesheet">
        <script type="text/javascript" src="//use.typekit.net/izq0fed.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        @Html.Partial("header")
        @RenderBody()
        <footer>
            <div class="wrapper">
                <div class="logos">
                    <img src="/content/img/logo-mv-white.png" width="178" height="102" alt="Museum Victoria" />
                </div>
            </div>
        </footer>
    </body>
</html>