@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CollectionsOnline.WebSite.Models.SearchViewModel>
<div id="search-bar">
    <form method="GET" action="/search" role="form">
        @if (Model != null)
        {
            <input type="text" name="query" placeholder="enter search term ..." value="@Model.Query">
        }
        else
        {
            <input type="text" name="query" placeholder="enter search term ...">
        }
        <button type="submit">
            <span class="icon-search" aria-hidden="true"></span>
            <span class="icon-label-hidden">Search</span>
        </button>
    </form>
</div>