<!DOCTYPE html>
<html>
    <head>
        <title>Collections Online Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/content/css/bootstrap.min.css" rel="stylesheet">
        <link href="/content/css/base.css" rel="stylesheet">
    </head>
    <body>
        @RenderBody()
        <script src="/content/js/bootstrap.min.js"></script>
    </body>
</html>