<!DOCTYPE html>
<html>
    <head>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collections Online Website</title>
        <link href="/content/css/styles.css" rel="stylesheet">
        <script type="text/javascript" src="//use.typekit.net/izq0fed.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <header>
            <a class="brand" href="/">Museum Victoria <span>Collections</span></a>
            <nav>
                <form class="form-search" method="GET" action="/search" role="form">
                    <span class="icon-search" aria-hidden="true"></span>
                    <span class="icon-label-hidden">Search the collection</span>
                    <input type="text" name="query" class="form-control" placeholder="SEARCH">
                </form>
                <a href="">Browse articles</a>
                <a href="">About</a>
                <a href="">API</a>
            </nav>
        </header>
        @RenderBody()
        <footer>
            <div class="wrapper">
                <div class="logos">
                    <img src="/content/img/logo-mv-white.png" width="178" height="102" alt="Museum Victoria" />
                </div>
            </div>
        </footer>
    </body>
</html>