<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DatabaseUrl" value="" />
    <add key="DatabaseName" value="" />
    <add key="WebSitePath" value="" />
    <add key="WebSiteUser" value="" />
    <add key="WebSitePassword" value="" />
    <add key="WebSiteComputer" value="" />
    <add key="WebSiteDomain" value="" />
    <add key="CanonicalSiteBase" value="" />
    <add key="SeqUrl" value="" />
    <add key="serilog:minimum-level" value="" />
    <add key="serilog:enrich:with-property:Environment" value="" />
    <add key="serilog:enrich:with-property:Application" value="" />
  </appSettings>
</configuration>