article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.container:after, .wrapper:after {
  content: "";
  display: table;
  clear: both; }

.parent:before, #related .related-content:before, #explore .explore-content:before, .parent:after, #related .related-content:after, #explore .explore-content:after {
  content: "";
  display: table; }
.parent:after, #related .related-content:after, #explore .explore-content:after {
  clear: both; }
.parent, #related .related-content, #explore .explore-content {
  zoom: 1; }

.push-0, .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .pull-0, .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12 {
  position: relative; }

.container, .wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.parent, #related .related-content, #explore .explore-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, #title h1, #title .thumbnails, #title .thumbnails .thumbnail, #media figcaption .caption, #media figcaption .media-tools, #record .text-content, #record .text-content .detail h3, #record .text-content .detail p, #record .side-content, #record .cite-content, #related .related-content h3, #related .related-content .item, #related .related-content .specimen, #related .related-content .article, #related .related-content .species, footer .logos, #explore .explore-content h2, #explore .explore-content .explore-type {
  display: inline-block;
  min-height: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * Map set
 *
 * @param 	Map 	$map 		The map to use
 * @param 	String 	$key 		The key to update
 * @param 	Mixed 	$value 		The new value
 * @return 	Map 			The new map
 */
/**
 * Get the column width in percent for the global or a specific context
 *
 * @param 	int 		$columns 					The number of columns to calculate
 * @param 	int 		$context : $gridle-columns-count 	 	The context to use
 * @return 	percentage 							The width in percent
 */
/**
 *  Get a state map
 *
 * @param 	string 		$name 		The name of the state to get
 * @return 	map 				A state map object
 */
/**
 * Check if a state exist :
 *
 * @param 	string 		$name 		The name of the state to check
 * @return 	Boolean 			true is exist
 */
/**
 * Get the media queries variables :
 *
 * @param 	int 		$index 	 	The media query indes
 * @param 	String 		$var 		The media query variable name
 * @return 	String|int 			The variable value
 */
/**
 * Get a variable
 *
 * @param 	String 		$varName 				The variable name
 * @param  	String 		$stateMap-or-stateName 	 	The state name or a map state value
 * @return 	Mixed 							The finded value
 */
/**
 * Set a variable in a state
 * @param 	Mixed $stateName-or-stateIndex 	The state name of state index
 * @param  	String $var                    		Variable name to assign
 * @param  	Mixed $newValue          		The new value to assign
 * @return 	List                         			The states list (full)
 */
/**
 * Generate a column
 *
 * @param 	String 		$name 			The column name (often count)
 * @param 	int 		$columns 		The column count that the column will take
 * @param 	int 		$context 		The context on witch the with will be calculed
 * @param 	Boolean 	$generateClasses 	Set if the column has to be generated in css
 */
/**
 * Generate classname
 *
 * @param 	List 		$parrern 	The pattern to use to generate classname
 * @param 	String 		$state 		The state
 * @param 	int 		$count 		The column count
 */
/**
 * Get the media query for a particular state, or with, etc...
 *
 * @param 	Mixed 		$state-or-min-width 		The state name of the min with
 * @param 	Mixed 		$max-width 			The max width if first param is a min width
 * @return 	String 						The media query string without the @media
 */
/**
 * Get states count
 * 
 * @return 	int 	The number of states defined
 */
/**
 * Setup
 */
/**
 *  Register a clear each class
 */
/**
 * Register a special class
 */
/**
 * Register default states
 */
/**
 * Register default mobile first states :
 */
/**
 * Set the debug device (not used for now)
 * 
 * @param 	String 		$state 		The state to update
 * @para m 	String 		$device 	The device to use (iphone, etc...)
 */
/**
 * Parent clear each
 */
/**
 * Vertical align :
 */
/**
 * Show inline
 *
 * @param 	String 		$state 		The state name
 */
/**
 * Generate a custom class for all the states
 *
 * @param 	list 	$pattern 		The name pattern of the class
 * @param 	list 	$statesNames 		The states names to generate
 */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: device-width; } }
#gridle-settings {
  content: '{ "version" : "1.3.33", "states" : { "retina":{ "query" : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)", "classes" : false, "name" : "retina", "_gridle" : true }, "tv":{ "query" : "only tv", "classes" : false, "name" : "tv", "_gridle" : true }, "print":{ "query" : "only print", "classes" : false, "name" : "print", "_gridle" : true }, "portrait":{ "query" : "only screen and (orientation: portrait)", "classes" : false, "name" : "portrait", "_gridle" : true }, "landscape":{ "query" : "only screen and (orientation: landscape)", "classes" : false, "name" : "landscape", "_gridle" : true }, "default":{ "name" : "default", "min-width" : null, "max-width" : null, "query" : null, "classes" : true, "context" : "12", "gutter-width" : "20px", "direction" : "ltr", "name-multiplicator" : "1", "debug" : false, "debug-show-class-names" : true, "ie7-support" : false, "html-states-classes" : false, "generate-push-classes" : true, "generate-pull-classes" : true, "generate-prefix-classes" : true, "generate-suffix-classes" : true, "generate-helpers-classes" : true, "_gridle" : true }} }'; }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  float: left;
  direction: ltr;
  padding-left: 10px;
  padding-right: 10px; }

.grid-0 {
  width: 0%; }

.push-0 {
  left: 0%; }

.pull-0 {
  right: 0%; }

.prefix-0 {
  margin-left: 0%; }

.suffix-0 {
  margin-right: 0%; }

.grid-1 {
  width: 8.33333%; }

.push-1 {
  left: 8.33333%; }

.pull-1 {
  right: 8.33333%; }

.prefix-1 {
  margin-left: 8.33333%; }

.suffix-1 {
  margin-right: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.push-2 {
  left: 16.66667%; }

.pull-2 {
  right: 16.66667%; }

.prefix-2 {
  margin-left: 16.66667%; }

.suffix-2 {
  margin-right: 16.66667%; }

.grid-3 {
  width: 25%; }

.push-3 {
  left: 25.0%; }

.pull-3 {
  right: 25.0%; }

.prefix-3 {
  margin-left: 25.0%; }

.suffix-3 {
  margin-right: 25.0%; }

.grid-4 {
  width: 33.33333%; }

.push-4 {
  left: 33.33333%; }

.pull-4 {
  right: 33.33333%; }

.prefix-4 {
  margin-left: 33.33333%; }

.suffix-4 {
  margin-right: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.push-5 {
  left: 41.66667%; }

.pull-5 {
  right: 41.66667%; }

.prefix-5 {
  margin-left: 41.66667%; }

.suffix-5 {
  margin-right: 41.66667%; }

.grid-6 {
  width: 50%; }

.push-6 {
  left: 50.0%; }

.pull-6 {
  right: 50.0%; }

.prefix-6 {
  margin-left: 50.0%; }

.suffix-6 {
  margin-right: 50.0%; }

.grid-7 {
  width: 58.33333%; }

.push-7 {
  left: 58.33333%; }

.pull-7 {
  right: 58.33333%; }

.prefix-7 {
  margin-left: 58.33333%; }

.suffix-7 {
  margin-right: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.push-8 {
  left: 66.66667%; }

.pull-8 {
  right: 66.66667%; }

.prefix-8 {
  margin-left: 66.66667%; }

.suffix-8 {
  margin-right: 66.66667%; }

.grid-9 {
  width: 75%; }

.push-9 {
  left: 75.0%; }

.pull-9 {
  right: 75.0%; }

.prefix-9 {
  margin-left: 75.0%; }

.suffix-9 {
  margin-right: 75.0%; }

.grid-10 {
  width: 83.33333%; }

.push-10 {
  left: 83.33333%; }

.pull-10 {
  right: 83.33333%; }

.prefix-10 {
  margin-left: 83.33333%; }

.suffix-10 {
  margin-right: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.push-11 {
  left: 91.66667%; }

.pull-11 {
  right: 91.66667%; }

.prefix-11 {
  margin-left: 91.66667%; }

.suffix-11 {
  margin-right: 91.66667%; }

.grid-12 {
  width: 100%; }

.push-12 {
  left: 100.0%; }

.pull-12 {
  right: 100.0%; }

.prefix-12 {
  margin-left: 100.0%; }

.suffix-12 {
  margin-right: 100.0%; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clear {
  clear: both; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.no-gutter,
.no-margin {
  padding-left: 0;
  padding-right: 0; }

.no-gutter-left,
.no-margin-left {
  padding-left: 0; }

.no-gutter-right,
.no-margin-right {
  padding-right: 0; }

.no-gutter-top,
.no-margin-top {
  padding-top: 0; }

.no-gutter-bottom,
.no-margin-bottom {
  padding-bottom: 0; }

.gutter,
.margins {
  padding-left: 10px;
  padding-right: 10px; }

.gutter-left,
.margin-left {
  padding-left: 10px; }

.gutter-right,
.margin-right {
  padding-right: 10px; }

.gutter-top,
.margin-top {
  padding-top: 10px; }

.gutter-bottom,
.margin-bottom {
  padding-bottom: 10px; }

.auto-height {
  height: inherit; }

.centered {
  display: block !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important; }

.parent {
  padding-left: 0;
  padding-right: 0; }

.vertical-align-middle {
  font-size: 0;
  clear: both; }
  .vertical-align-middle > * {
    display: inline-block;
    float: none !important;
    vertical-align: middle;
    font-size: 1rem; }

.vertical-align-top {
  font-size: 0;
  clear: both; }
  .vertical-align-top > * {
    display: inline-block;
    float: none !important;
    vertical-align: top;
    font-size: 1rem; }

.vertical-align-bottom {
  font-size: 0;
  clear: both; }
  .vertical-align-bottom > * {
    display: inline-block;
    float: none !important;
    vertical-align: bottom;
    font-size: 1rem; }

/**
 * Visible, hide, etc...
 */
.hide {
  display: none; }

.not-visible {
  visibility: hidden; }

.show {
  display: block; }

.show-inline {
  display: inline-block; }

.visible {
  visibility: visible; }

/**
 * Clear each class :
 */
@font-face {
  font-family: 'mv-collections';
  src: url("/content/fonts/mv-collections.eot");
  src: url("/content/fonts/mv-collections.eot?#iefix") format("embedded-opentype"), url("/content/fonts/mv-collections.woff") format("woff"), url("/content/fonts/mv-collections.ttf") format("truetype"), url("/content/fonts/mv-collections.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'entypo';
  src: url("/content/fonts/entypo.eot");
  src: url("/content/fonts/entypo.eot?#iefix") format("embedded-opentype"), url("/content/fonts/entypo.woff") format("woff"), url("/content/fonts/entypo.ttf") format("truetype"), url("/content/fonts/entypo.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'entypo-social';
  src: url("/content/fonts/entypo-social.eot");
  src: url("/content/fonts/entypo-social.eot?#iefix") format("embedded-opentype"), url("/content/fonts/entypo-social.woff") format("woff"), url("/content/fonts/entypo-social.ttf") format("truetype"), url("/content/fonts/entypo-social.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon-close:before {
  font-family: "mv-collections";
  content: "\e601"; }

.icon-search-header:before {
  font-family: "mv-collections";
  content: "\e602";
  font-size: 1.5em;
  position: absolute;
  right: 20px; }

.icon-left-arrow:before {
  font-family: "mv-collections";
  content: "\e607"; }

.icon-right-arrow:before {
  font-family: "mv-collections";
  content: "\e60a"; }

.icon-search:before {
  font-family: "mv-collections";
  content: "\e60b";
  font-size: 1.5em; }

.icon-filter:before {
  font-family: "mv-collections";
  content: "\e602";
  font-size: 1.3em;
  position: absolute;
  left: 190px; }

.icon-download:before {
  font-family: "mv-collections";
  content: "\e603";
  font-size: 1.5em; }

.icon-fullscreen:before {
  font-family: "mv-collections";
  content: "\e604";
  font-size: 1.5em; }

.icon-article:before {
  font-family: "mv-collections";
  content: "\e600"; }

.icon-item:before {
  font-family: "mv-collections";
  content: "\e606"; }

.icon-species:before {
  font-family: "mv-collections";
  content: "\e60c"; }

.icon-specimen:before {
  font-family: "mv-collections";
  content: "\e60d"; }

.icon-print:before {
  font-family: "entypo";
  content: "\E716";
  font-size: 3em;
  line-height: 0.2em;
  position: absolute;
  top: 0.2em;
  right: 20px; }

.icon-facebook:before {
  font-family: "entypo-social";
  content: "\F30C";
  font-size: 3em;
  line-height: 0.5em; }

.icon-twitter:before {
  font-family: "entypo-social";
  content: "\F309";
  font-size: 3em;
  line-height: 0.5em; }

.icon-pintrest:before {
  font-family: "entypo-social";
  content: "\F312";
  font-size: 3em;
  line-height: 0.5em; }

.icon-cc-by:before {
  font-family: "entypo";
  content: "\1F545";
  font-size: 3em;
  vertical-align: -0.16em;
  line-height: 0; }

body {
  font-family: "aktiv-grotesk-std", sans-serif; }

a {
  color: #b0b0b0;
  text-decoration: none; }

header {
  background: #1b1b1b;
  height: 76px; }

.brand {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  font-size: 1.35em;
  line-height: 76px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none; }
  .brand span {
    color: #82aa05;
    font-weight: 600; }

nav {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  position: relative; }
  nav a {
    display: inline-block;
    padding: 0 20px;
    line-height: 76px; }
    nav a:hover {
      background: #000;
      color: #fff; }
  nav .button-search {
    background-color: #82aa05;
    color: #fff;
    padding-right: 60px; }
    nav .button-search:hover {
      background-color: #82aa05;
      color: #fff; }

button.icon {
  background: none;
  border: 0;
  margin: 0;
  padding: 0; }

.icon-label-hidden {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px; }

.form-search {
  float: left;
  background-color: #82aa05;
  height: 76px; }
  .form-search input {
    background-color: #82aa05;
    color: #fff;
    box-sizing: border-box;
    border: 0;
    padding: 0 20px 0 50px;
    width: 170px;
    line-height: 76px;
    font-size: 1.35em; }
    .form-search input::-webkit-input-placeholder {
      opacity: 1;
      color: #fff; }
    .form-search input::-moz-placeholder {
      opacity: 1;
      color: #fff; }
    .form-search input:-ms-input-placeholder {
      opacity: 1;
      color: #fff; }
    .form-search input:-moz-placeholder {
      opacity: 1;
      color: #fff; }

.wrapper {
  max-width: 1040px;
  margin: 0 auto; }

#title {
  background-color: #323232; }
  #title h1 {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66667%;
    margin: 1em 0;
    font-size: 2em;
    font-weight: 400;
    color: #fff; }
  #title .thumbnails {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333%;
    margin: 2em 0 1.8em 0;
    padding-left: 0; }
    #title .thumbnails .thumbnail {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 25%;
      padding-left: 0;
      padding-right: 0;
      padding: 0 0 7px 7px;
      cursor: pointer; }
      #title .thumbnails .thumbnail img {
        width: 100%;
        display: block; }
      #title .thumbnails .thumbnail img.active {
        border: 2px solid #82aa05;
        box-sizing: border-box; }

#media {
  background-color: #b8b8b8; }
  #media img {
    max-width: 100%;
    max-height: 700px;
    display: block;
    margin: 0 auto; }
  #media figcaption {
    background-color: #000;
    color: #fff; }
    #media figcaption .caption {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 83.33333%;
      margin: 1em 0; }
    #media figcaption .media-tools {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 16.66667%;
      margin: 1em 0;
      display: flex;
      justify-content: flex-end; }
      #media figcaption .media-tools button {
        color: #4c4c4c;
        width: 50px;
        height: 50px;
        border: 2px solid #4c4c4c;
        border-radius: 2px;
        margin: 0 0 0 10px;
        box-sizing: border-box; }
        #media figcaption .media-tools button:hover {
          color: #fff;
          border-color: #fff; }

#record {
  font-weight: 300;
  background-color: #f0f0f0; }
  #record .text-content {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 66.66667%; }
    #record .text-content .summary {
      margin: 5em 0 2em;
      line-height: 1.8em;
      font-size: 1.1em; }
      #record .text-content .summary h3 {
        color: #424242;
        font-size: 1.6em;
        font-weight: 400;
        margin: 1em 0 0.5em; }
    #record .text-content .detail ul {
      margin: 0;
      padding: 0;
      list-style: none; }
    #record .text-content .detail li {
      clear: both; }
    #record .text-content .detail h3 {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 25%;
      padding-left: 0;
      font-weight: 300;
      font-size: 1.1em;
      color: #6D6D6D;
      line-height: 1.6em;
      margin: 0.6em 0; }
    #record .text-content .detail p {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 75%;
      padding-right: 0;
      line-height: 1.6em;
      font-size: 1.1em;
      margin: 0.6em 0; }
    #record .text-content a {
      color: #488DD9;
      border-bottom: 2px solid rgba(72, 141, 217, 0.5); }
      #record .text-content a:hover {
        border-bottom-color: #488DD9; }
  #record .side-content {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.33333%;
    font-weight: 500;
    font-size: 1.1em;
    color: #fff;
    margin: 5em 0 0; }
    #record .side-content .on-display {
      background: linear-gradient(60deg, #a82912 0%, #a82912 20%, #5f0800 21%, #000000 21%, #000000 51%, #490200 52%, #490200 56%, #000000 57%, #000000 62%, #5f0800 63%, #5f0800 67%, #711300 68%, #711300 98%, #b44b14 99%);
      margin: 0 0 20px;
      border-radius: 3px;
      padding: 20px;
      line-height: 1.7em; }
      #record .side-content .on-display a {
        color: #fff;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        font-weight: 400; }
        #record .side-content .on-display a:hover {
          border-bottom-color: #fff; }
    #record .side-content .print {
      border-radius: 3px;
      background: #000;
      color: #fff;
      margin-bottom: 3px;
      height: 3em; }
      #record .side-content .print .icon {
        color: #fff;
        border: none;
        line-height: 3em;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 0; }
        #record .side-content .print .icon .icon-label {
          padding-left: 20px; }
    #record .side-content .social {
      border-radius: 3px;
      background: #000;
      color: #fff;
      height: 3em; }
      #record .side-content .social h4 {
        display: inline-block;
        margin: 0;
        padding: 0 0 0 20px;
        line-height: 3em; }
      #record .side-content .social .social-tools {
        display: flex;
        justify-content: flex-end;
        float: right; }
        #record .side-content .social .social-tools .icon {
          color: #fff;
          border: none;
          border-left: 1px solid #fff;
          display: inline-block;
          height: 3em;
          line-height: 3em;
          box-sizing: border-box;
          width: 3em;
          text-align: center;
          margin: 0; }
  #record .cite-content {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: 4em 0; }
    #record .cite-content .cite {
      padding: 2em;
      background-color: #fff;
      border-radius: 3px; }
      #record .cite-content .cite h4 {
        color: #6D6D6D;
        font-weight: 400;
        font-size: 1.6em;
        margin: 0.6em 0; }
      #record .cite-content .cite p {
        font-size: 1.1em;
        margin: 0.9em 0; }
      #record .cite-content .cite .icon {
        color: #6D6D6D; }
      #record .cite-content .cite strong {
        color: #6D6D6D;
        font-weight: 500; }

#related .related-content {
  margin: 4em 0 2em;
  padding-left: 0;
  padding-right: 0; }
  #related .related-content h3 {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    color: #424242;
    font-size: 1.6em;
    font-weight: 400; }
  #related .related-content .item, #related .related-content .specimen, #related .related-content .article, #related .related-content .species {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px; }
    #related .related-content .item a, #related .related-content .specimen a, #related .related-content .article a, #related .related-content .species a {
      border: 1px solid #dcdcdc;
      display: block;
      position: relative; }
      #related .related-content .item a:before, #related .related-content .specimen a:before, #related .related-content .article a:before, #related .related-content .species a:before {
        border-bottom-left-radius: 3px;
        padding: 10px;
        color: #fff;
        text-transform: uppercase;
        position: absolute;
        font-size: 0.9em;
        font-weight: 500;
        top: 0;
        right: 0; }
    #related .related-content .item img, #related .related-content .specimen img, #related .related-content .article img, #related .related-content .species img {
      width: 100%;
      display: block; }
    #related .related-content .item .title, #related .related-content .specimen .title, #related .related-content .article .title, #related .related-content .species .title {
      display: block;
      height: 6em;
      overflow: hidden;
      text-overflow: ellipsis;
      background-color: #f9f9f9;
      color: #000;
      font-weight: 500;
      padding: 10px; }
  #related .related-content .item .icon-item {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 0 4px;
    color: #fff;
    background-color: #f26935; }
  #related .related-content .article .icon-article {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 0 4px;
    color: #fff;
    background-color: #517f96; }
  #related .related-content .specimen .icon-specimen {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 0 4px;
    color: #fff;
    background-color: #7e7989; }
  #related .related-content .species .icon-species {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5em;
    padding: 0 4px;
    color: #fff;
    background-color: #deae0e; }
  #related .related-content .no-image-label {
    padding-top: 4em; }
#related .related-link {
  text-align: center;
  margin: 0 0 4em 0;
  font-size: 1.2em;
  font-weight: 300;
  color: #424242; }

footer {
  background-color: #2a2a2a; }
  footer .logos {
    float: left;
    direction: ltr;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin: 2em 0; }

.no-image {
  display: block;
  position: relative;
  width: 100%;
  background: #cccccc; }
  .no-image:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .no-image .no-image-label {
    display: block;
    position: absolute;
    color: #6D6D6D;
    font-size: 1.6em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

#search {
  display: flex; }
  #search .facets {
    background: #141414;
    width: 300px; }
    #search .facets .button-filter {
      padding: 0 20px;
      display: block;
      color: #fff;
      background: #000;
      height: 70px;
      line-height: 70px;
      font-size: 1.4em;
      font-weight: 300; }
    #search .facets h4 {
      padding: 0 20px;
      font-weight: 300;
      font-size: 1.1em;
      color: #fff;
      margin: 1.33em 0 0.6em; }
    #search .facets a {
      padding: 0 20px;
      display: block;
      color: #fff; }
      #search .facets a .badge {
        color: #bbbbbb; }
    #search .facets a.active {
      color: #fff;
      font-weight: 500; }
      #search .facets a.active .badge {
        color: #82aa05; }
  #search .results {
    width: 100%;
    background: #e3e3e3;
    padding: 0 0 20px 0; }
    #search .results .active-facets {
      padding: 20px 0 0 20px; }
      #search .results .active-facets a {
        color: #756969;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        border-radius: 2px;
        background: #fff;
        padding: 0 10px;
        margin: 0 5px 0 0; }
        #search .results .active-facets a .icon-close {
          color: #000;
          font-size: 0.7em;
          padding: 0 0 0 5px; }
    #search .results .pagination {
      margin: 40px 0 0 20px; }
      #search .results .pagination div {
        display: inline-block; }
      #search .results .pagination .numbers {
        float: left; }
      #search .results .pagination .options {
        float: right;
        margin-right: 20px; }
      #search .results .pagination .pages a {
        display: inline-block;
        padding: 0 5px;
        color: #000; }
      #search .results .pagination .pages a.disabled {
        color: #cccccc; }
      #search .results .pagination .order {
        margin: 0 20px 0 0; }
      #search .results .pagination .order a, #search .results .pagination .perpage a {
        color: #756969;
        height: 35px;
        line-height: 35px;
        display: inline-block;
        border-radius: 2px;
        background: #fff;
        padding: 0 10px;
        margin: 0 5px 0 0; }
      #search .results .pagination .icon-left-arrow, #search .results .pagination .icon-right-arrow {
        font-size: 0.7em; }
      #search .results .pagination input {
        width: 3rem; }
    #search .results .pagination.bottom {
      margin: 20px 0 40px 20px; }
    #search .results .results-area {
      display: table;
      content: "";
      clear: both; }
      #search .results .results-area .item, #search .results .results-area .specimen, #search .results .results-area .article, #search .results .results-area .species {
        float: left;
        width: 240px;
        margin: 20px 0 0 20px; }
        #search .results .results-area .item a, #search .results .results-area .specimen a, #search .results .results-area .article a, #search .results .results-area .species a {
          display: block;
          position: relative; }
          #search .results .results-area .item a:before, #search .results .results-area .specimen a:before, #search .results .results-area .article a:before, #search .results .results-area .species a:before {
            border-bottom-left-radius: 3px;
            padding: 10px;
            color: #fff;
            text-transform: uppercase;
            position: absolute;
            font-size: 0.9em;
            font-weight: 500;
            top: 0;
            right: 0; }
        #search .results .results-area .item img, #search .results .results-area .specimen img, #search .results .results-area .article img, #search .results .results-area .species img {
          width: 100%;
          display: block; }
        #search .results .results-area .item .title, #search .results .results-area .specimen .title, #search .results .results-area .article .title, #search .results .results-area .species .title {
          display: block;
          height: 6em;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: #f9f9f9;
          color: #000;
          font-weight: 500;
          padding: 10px; }
    #search .results .item .icon-item {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
      padding: 0 4px;
      color: #fff;
      background-color: #f26935; }
    #search .results .article .icon-article {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
      padding: 0 4px;
      color: #fff;
      background-color: #517f96; }
    #search .results .specimen .icon-specimen {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
      padding: 0 4px;
      color: #fff;
      background-color: #7e7989; }
    #search .results .species .icon-species {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 1.5em;
      padding: 0 4px;
      color: #fff;
      background-color: #deae0e; }
    #search .results .no-image-label {
      padding-top: 4em; }

#search-bar {
  background: #82aa05;
  height: 70px; }
  #search-bar form {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px; }
    #search-bar form input {
      margin: 0;
      outline: 0;
      padding: 0 1em;
      font-size: 1.2em;
      font-weight: 300;
      border: 0;
      width: 100%;
      height: 44px;
      border-radius: 2px 0 0 2px; }
    #search-bar form button {
      height: 44px;
      margin: 0;
      outline: 0;
      padding: 0 10px;
      border: 0;
      border-radius: 0 2px 2px 0;
      color: #fff;
      background: #000; }

#hero {
  background: url(/content/img/img-home-birds.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: flex-end; }
  #hero form {
    height: 150px;
    background-color: rgba(183, 215, 31, 0.7);
    width: 100%;
    display: flex;
    align-items: center; }
    #hero form .search-area {
      width: 66%;
      display: flex;
      margin: auto; }
      #hero form .search-area input {
        height: 60px;
        margin: 0;
        outline: 0;
        padding: 0 1em;
        border: 0;
        width: 100%;
        border-radius: 3px 0 0 3px;
        font-size: 1.3em;
        font-weight: 300; }
      #hero form .search-area button {
        height: 60px;
        margin: 0;
        outline: 0;
        padding: 0 16px;
        border: 0;
        border-radius: 0 3px 3px 0;
        color: #fff;
        background: #1a1e06;
        font-size: 1.4em; }
        #hero form .search-area button .icon-search:before {
          position: relative;
          top: 1px;
          left: 1px; }

#explore {
  background: #1d1d1d; }
  #explore .explore-content {
    padding-left: 0;
    padding-right: 0; }
    #explore .explore-content h2 {
      color: #fff;
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      font-size: 1.7em;
      margin: 3em 0 1em; }
    #explore .explore-content .explore-type {
      float: left;
      direction: ltr;
      padding-left: 10px;
      padding-right: 10px;
      width: 25%; }
      #explore .explore-content .explore-type a {
        position: relative;
        display: block;
        margin: 0 0 5em; }
        #explore .explore-content .explore-type a img {
          border-radius: 3px;
          width: 100%;
          display: block; }
        #explore .explore-content .explore-type a .icon-article, #explore .explore-content .explore-type a .icon-item, #explore .explore-content .explore-type a .icon-species, #explore .explore-content .explore-type a .icon-specimen {
          border-top-left-radius: 3px;
          color: #fff;
          top: 0;
          left: 0;
          position: absolute;
          padding: 0 10px;
          font-size: 4em;
          display: flex;
          align-items: center; }
          #explore .explore-content .explore-type a .icon-article .count-wrapper, #explore .explore-content .explore-type a .icon-item .count-wrapper, #explore .explore-content .explore-type a .icon-species .count-wrapper, #explore .explore-content .explore-type a .icon-specimen .count-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 10px; }
            #explore .explore-content .explore-type a .icon-article .count-wrapper .type, #explore .explore-content .explore-type a .icon-item .count-wrapper .type, #explore .explore-content .explore-type a .icon-species .count-wrapper .type, #explore .explore-content .explore-type a .icon-specimen .count-wrapper .type {
              font-size: 0.3em; }
            #explore .explore-content .explore-type a .icon-article .count-wrapper .count, #explore .explore-content .explore-type a .icon-item .count-wrapper .count, #explore .explore-content .explore-type a .icon-species .count-wrapper .count, #explore .explore-content .explore-type a .icon-specimen .count-wrapper .count {
              font-size: 0.3em;
              font-weight: 300; }
    #explore .explore-content .article span {
      background-color: #517f96; }
    #explore .explore-content .item span {
      background-color: #f26935; }
    #explore .explore-content .species span {
      background-color: #deae0e; }
    #explore .explore-content .specimen span {
      background-color: #7e7989; }

#developers {
  display: flex; }
  #developers .menu {
    width: 300px; }
  #developers .documentation {
    width: 100%; }

/*# sourceMappingURL=styles.css.map */
