<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseUrl" value="http://zen.mv.vic.gov.au:8080/" />
    <add key="DatabaseName" value="collectionsonline_dev" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>