<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DatabaseUrl" value="http://godot.mv.vic.gov.au:8090/" />
    <add key="DatabaseName" value="collections_prod" />
    <add key="WebSitePath" value="E:\Projects\git\collections-online\src\CollectionsOnline.WebSite" />
    <add key="WebSiteUser" value="" />
    <add key="WebSitePassword" value="" />
    <add key="WebSiteComputer" value="" />
    <add key="WebSiteDomain" value="" />
    <add key="CanonicalSiteBase" value="http://localhost:61747" />
    <add key="SeqUrl" value="http://godot.mv.vic.gov.au:5341" />
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:enrich:with-property:Environment" value="Development" />
    <add key="serilog:enrich:with-property:Application" value="MV Collections Tasks" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>